-
  tableSettings = {
    key: "tableBattery",
    title: "Battery",
    tooltipTitle : "list of Battery that associated with this location",
    collapse : true,
    filterable: true,
    columns: [
      {label: "name", name: "name", link: "view", filter: {type: 'text'}},
      {label: "Label", name: "label", filter: {type: 'text'}},
      {label: "Type", name: "type", filter: {type: 'text'}},
      {label: "Purpose", name: "purpose", filter: {type: 'text'}},
      {label: "#Cell", name: "Cell", filter: {type: 'text'}},
      {label: "Cell (A/V)", name: "Cellc", filter: {type: 'text'}},
      {label: "Manufacturer", name: "Manufacturer", filter: {type: 'text'}},
      {label: "Install Date", name: "installdate", filter: {type: 'text'}},
    ],
    data: data.datatable,
    buttons: data.buttonDatatable
  }
include ../component/new/table