-
  tableSettings = {
    key: "tableCustomer",
    title: "Customer",
    tooltipTitle: "List of Customer that served by this device",
    collapse: true,
    filterable: true,
    columns: [
      {label: "Customer ID", name: "customerId", link: "view", filter: {type: 'text'}},
      {label: "Name", name: "name", filter: {type: 'text'}},
      {label: "Nick Name", name: "nickname", filter: {type: 'text'}},
      {label: "Segment", name: "segment", filter: {type: 'text'}},
      {label: "Address", name: "address", filter: {type: 'text'}},
      {label: "#Service", name: "service", filter: {type: 'text'}},
      {label: "Registered Date", name: "registeredDate", filter: {type: 'text'}},
      {label: "Status", name: "status", filter: {type: 'text'}},
    ],
    data: [],
    buttons: {
      add: {label: "Add Customer", className: "openAddCustomer"},
      delete : {label: "Delete Customer", link: "delete", callBack: "deleteCallback"}
    }
  }
include ../component/new/table

-
  modalForm = {
    key: "openAddCustomer",
    title: "Create Customer",
    form: {
      url: data.addUrl,
      fields: [
          { name: 'customerId', type: 'hidden', value: ""},
          { name: "name", label: "Name", placeholder: "ex.  ", validate:'empty', required:true},
          { name: "nickname", label: "Nick Name", placeholder: "ex. ", validate:'empty', required:true},
          { name: "segment", label: "Segment", placeholder: "ex. ", validate:'empty', required:true},
          { name: "address", label: "Address", placeholder: "ex. ", validate:'empty', required:true},
          { name: "service", label: "Service", placeholder: "ex. ", validate:'empty', required:true},
          { name: "registeredDate", label: "Registered Date", type: "date", placeholder: "ex. ", validate:'empty', required:true},
          { name: "status", label: "Status", type: "select", value: "", action:"", settings: {options: [{label: "ACTIVE", value: "ACTIVE"}, {label: "INACTIVE", value: "INACTIVE"}]}}
      ]
    },
    trigger: {
      className: "openAddCustomer"
    }
  }
include ../component/new/modalForm