-
  tableSettings = {
    key: "tableDocument",
    title: "Document",
    tooltipTitle: "Associafed document of this location",
    collapse: true,
    filterable: true,
    columns: [
      {label: "Title", name: "title", link: "view", filter: {type: 'text'}},
      {label: "URL", name: "url", link: "view", filter: {type: 'text'}},
      {label: "Description", name: "description", link: "view", filter: {type: 'text'}},
      {label: "Created Date", name: "createdAt", filter: {type: 'text'}},
      {label: "Created By", name: "createdBy", filter: {type: 'text'}},
    ],
    data: [],
    buttons: {
      add: {label: "Add Document", className: "openAddDocument"},
      delete : {label: "Delete Document", link: "delete", callBack: "deleteCallback"}
    }
  }
include ../component/new/table

-
  modalForm = {
    key: "openAddDocument",
    title: "Create Document",
    form: {
      url: data.addUrl,
      fields: [
          { name: 'locationId',label:"Location ID", type: 'readonly', value: data._id},
          { name: "title", label: "Title", placeholder: "ex. Gedung A", validate:'empty', required:true},
          { name: "url", label: "URL", placeholder: "ex. Gedung A", validate:'empty', required:true},
          { name: "description", label: "Description", placeholder: "ex. Gedung A", validate:'empty', required:true},
      ]
    },
    trigger: {
      className: "openAddDocument"
    }
  }
include ../component/new/modalForm