-
  tableSettings = {
    key: "tableFloor",
    title: "Floor",
    tooltipTitle : "list of Floor that served by this device",
    collapse : true,
    filterable: true,
    columns: [
      {label: "Name", name: "name", link: "view", filter: {type: 'text'}},
      {label: "Label", name: "label", filter: {type: 'text'}},
      {label: "Type", name: "type", filter: {type: 'text'}},
      {label: "Code", name: "labelingCode", filter: {type: 'text'}},
      {label: "Size(H/W/L/S)", name: "size", filter: {type: 'text'}},
    ],
    data: data.datatable,
    buttons: data.buttonDatatable
  }
include ../component/new/table

-
  modalForm = {
    key: "openAddFloor",
    title: "Create Floor",
    form: {
      url: data.addUrl,
      fields: [
          { name: 'locationName', label: 'Location', type: 'search', placeholder: 'Please type Location name', required:true, validate:'empty',
            settings: {
              remote : {
                url: '/location/data',
                query: 'columns[0][search][value]',
                extraData: { 'columns[0][name]': 'name',  'length': 20, 'order[0][column]': 0, 'order[0][dir]': 'asc'},
              },
              resultMapping: { dataIndex: 'data', label: 'name', value: [':name'] },
              minChar: 3
            }
          },
            { name: 'buildingName', label: 'Building', type: 'search', placeholder: 'Please type Building name', required:true, validate:'empty',
            settings: {
              remote : {
                url: '/location/{{locationName}}/building',
                urlParam: {locationName: '$("#_locationName_ > input[name=locationName]").val()'},
                query: 'columns[0][search][value]',
                extraData: { 'columns[0][name]': 'name',  'length': 20, 'order[0][column]': 0, 'order[0][dir]': 'asc'},
              },
              resultMapping: { dataIndex: 'data', label: 'name', value: [':_id'] },
              minChar: 3
            }
          },
          { name: "type", label: "Type", type: "select", settings: {remote: {url: "/info/buildingType", method: "GET"}, resultMapping: { label: "name", value: "name"}}},
          { name: "label", label: "Label", placeholder: "ex. IDC Lembong", validate:"empty", required:true},
          { name: "level", label: "level", placeholder: "ex. IDC Lembong", validate:"empty", required:true},
          { name: "height", label: "Height (m)", placeholder: "ex. 30", validate:"empty", required:true},
          { name: "width", label: "Width (m)", placeholder: "ex. 20", validate:"empty", required:true},
          { name: "length", label: "Length (m)", placeholder: "ex. 40", validate:"empty", required:true}
        ]
      },
      trigger: {
        className: "openAddFloor"
    }
  }
include ../component/new/modalForm