-
  tableSettings = {
    key: "tableDistributionFrame",
    title: "Frame Container",
    tooltipTitle: "List of distribution frame that located at this location",
    collapse: true,
    filterable: true,
    columns: [
      { label: "Name", name: "name", link: "view", filter: {type: 'text'}},
      { label: "Label", name: "label", filter: {type: 'text'}},
      { label: "Type", name: "type", filter: {type: 'text'}},
      { label: "Role", name: "role", filter: {type: 'text'}},
      { label: "#Frame Unit", name: "frameunit", filter: {type: 'text'}},
      { label: "#Port", name: "port", filter: {type: 'text'}},
      { label: "Instant Date", name: "instant_date", filter: {type: 'text'}},
      { label: "Status", name: "status", filter: {type: 'text'}},
    ],
    data: [],
      buttons: {
        add: {label: "Add DistributionFrame ", className: "openAddDistributionFrame"},
        delete : {label: "Delete DistributionFrame ", link: "delete", callBack: "deleteCallback"}
      }
    }
include ../component/new/table
-
  modalForm = {
    key: "openAddDistributionFrame",
    title: "Create Distribution Frame",
    form: {
      url: data.addUrl,
      fields: [
          { name: "deviceId", type: "hidden", value: data._id },
          { name: "name", label: "Name", validate:'empty', required:true},
          { name: "label", label: "Label",  validate:'empty', required:true},
          { name: "type", label: "Type", type: "select", placeholder: "Select Type", settings: {remote: {url: "/ReferenceObject/LOCATION_TYPE", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'displayName', value: [':value']}}},    
          { name: "manufacturer", label: "Manufacturer", type: "select", placeholder: "Select Type", settings: {remote: {url: "/ReferenceObject/LOCATION_TYPE", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'displayName', value: [':value']}}},          
          { name: "model", label: "Model", type: "select", placeholder: "Select Type", settings: {remote: {url: "/ReferenceObject/LOCATION_TYPE", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'displayName', value: [':value']}}},          
          { name: "purpose", label: "Purpose", type: "select", placeholder: "Select Type", settings: {remote: {url: "/ReferenceObject/LOCATION_TYPE", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'displayName', value: [':value']}}},          
          { name: "network_location", label: "Network Location ID",  validate:'empty', required:true}, 
          { name: "network_role", label: "Network role", type: "select", placeholder: "Select Type", settings: {remote: {url: "/ReferenceObject/LOCATION_TYPE", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'displayName', value: [':value']}}},  
          { name: "instant_date", label: "Instant Date", placeholder: "ex. Device ID", validate:'empty',typ: "date", required:true},
          { name: "labeling_code", label: "Labeling Code", validate:'empty', required:true},
          { name: "geometry", label: "Geometry", validate:'empty', required:true}
      ] 
    },
    trigger: {
      className: "openAddDistributionFrame"
    }
  }
include ../component/new/modalForm