-
  tableSettings = {
    key: "tableMaintenance",
    title: "Maintenance",
    tooltipTitle: "List of Maintenance that served by this device",
    collapse: true,
    filterable: true,
    columns: [
      {label: "Activity", name: "activity", link: "view", filter: {type: 'text'}},
      {label: "Description", name: "description", filter: {type: 'text'}},
      {label: "PIC", name: "pic", filter: {type: 'text'}},
      {label: "Status", name: "status", filter: {type: 'text'}},
      {label: "Start Date", name: "startDate", filter: {type: 'text'}},
      {label: "End Date", name: "endDate", filter: {type: 'text'}},
      {label: "#Attach", name: "attach", filter: {type: 'text'}},
    ],
    data: [],
    buttons: {
      add: {label: "Add Maintenance", className: "openAddMaintenance"},
      delete : {label: "Delete Maintenance", link: "delete", callBack: "deleteCallback"}
    }
  }
include ../component/new/table
-
  modalForm = {
    key: "openAddMaintenance",
    title: "Create Maintenance",
    form: {
      url: data.addUrl,
      fields: [
          { name: 'maintenanceId', type: 'hidden', value: ""},
          { name: "activity", label: "Activity", placeholder: "ex.  ", validate:'empty', required:true},
          { name: "description", label: "Description", placeholder: "ex. ", validate:'empty', required:true},
          { name: "pic", label: "PIC", placeholder: "ex. ", validate:'empty', required:true},
          { name: "status", label: "Status", type: "select", value: "", action:"", settings: {options: [{label: "ACTIVE", value: "ACTIVE"}, {label: "INACTIVE", value: "INACTIVE"}]}},
          { name: "startDate", label: "Start Date", type: "date", placeholder: "ex. ", validate:'empty', required:true},
          { name: "endDate", label: "End Date", type: "date", placeholder: "ex. ", validate:'empty', required:true},
          { name: "attach", label: "#Attach", placeholder: "ex. 5", validate:'empty', required:true}
      ]
    },
    trigger: {
      className: "openAddMaintenance"
    }
  }
include ../component/new/modalForm