-
  let mapSettings = {
    key : "mapLocation",
    objectType : 'location',
    objectTitle : "Location",
    title: "Map Location",
    data : [],
    function : {
      edit : {
        url : "/mapHandler/"
      },
      delete : {
        url : "/mapHandler/"
      },
      add : {
        className : "addLocationMap",
      }
    }
  }
include ../component/new/map
-
   modalForm = {
     key: "addLocationMap",
     title: "Add New Map Location",
     form: {
       url: data.addUrl,
       fields: [
           { name: 'uid', type: 'hidden', value: ""},
           { name: 'type', type: 'hidden', value: ""},
           { name: 'objectType', type: 'hidden', value: "location"},
           { name: "wkt", label: "WKT", placeholder: "ex. POINT(112.93911918997765 -2.5198508118083525)", validate:'empty', required:true},
       ]
     },
     trigger: {
       className: "addLocationMap"
     }
   }
include ../component/new/modalForm