-
  let photosSettings = {
    title: "Photo",
    tooltipTitle: "Associafed photo of this location",
    collapse: true,
    class : "openAddPhoto",
    key : "photoLocation",
    data : [
      {
        uid: "123321",
        name : "Gedung IDC Cimahi",
        image : "/images/avatar/steve.jpg",
        date : "11-08-2020",
        button : {
          delete : "deletePhoto"
        }
      },
      {
        uid: "123321",
        name : "Ruang IDC Cimahi",
        image : "/images/avatar/steve.jpg",
        date : "11-08-2020",
        button : {
          delete : "deletePhoto"
        }
      },
      {
        uid: "123321",
        name : "Tower IDC Cimahi",
        image : "/images/avatar/steve.jpg",
        date : "11-08-2020",
        button : {
          delete : "deletePhoto"
        }
      }
    ]
  }
include ../component/new/photos

-
  modalForm = {
    key: "openAddPhoto",
    title: "Add New Photo",
    form: {
      url: "/location/photo",
      fields: [
          { name: 'locationId', type: 'hidden', value: ""},
          { name: "name", label: "Name", placeholder: "ex. Image Name", validate:'empty', required:true},
          { name: 'filephoto', label: 'Select Photo', type: 'file', validate:'empty', required:true}
      ]
    },
    trigger: {
      className: "openAddPhoto"
    }
  }
include ../component/new/modalForm