-
  tableSettings = {
    key: "tablePowerDistribution",
    title: "Power Distribution",
    tooltipTitle : "list of Power Distribution that associated with this location",
    collapse : true,
    filterable: true,
    columns: [
      {label: "name", name: "name", link: "view", filter: {type: 'text'}},
      {label: "Label", name: "label", filter: {type: 'text'}},
      {label: "Type", name: "type", filter: {type: 'text'}},
      {label: "Purpose", name: "purpose", filter: {type: 'text'}},
      {label: "Output (A/V/Type)", name: "output", filter: {type: 'text'}},
      {label: "Input (A/V/Type)", name: "input", filter: {type: 'text'}},
      {label: "Install Date", name: "installdate", filter: {type: 'text'}},
    ],
    data: data.datatable,
    buttons: data.buttonDatatable
  }
include ../component/new/table

-
  const modalForm = {
    key: "createPowerDistribution",
    title: "Create Power Distribution",
    form: {
      url: data.addUrl,
      fields: [
          { name: 'locationName', label: 'Location', type: 'search', placeholder: 'Please type Location name', required:true, validate:'empty',
            settings: {
              remote : {
                url: '/location/data',
                query: 'columns[0][search][value]',
                extraData: { 'columns[0][name]': 'name',  'length': 20, 'order[0][column]': 0, 'order[0][dir]': 'asc'}
              },
              resultMapping: { dataIndex: 'data', label: 'name', value: [':name'] },
              minChar: 3
            }
          },
          { name: 'buildingName', label: 'Building', type: 'search', placeholder: 'Please type Building name', required:true, validate:'empty',
          settings: {
            remote : {
              url: '/building/data',
              query: 'columns[0][search][value]',
              extraData: { 'columns[0][name]': 'name',  'length': 20, 'order[0][column]': 0, 'order[0][dir]': 'asc'}
            },
            resultMapping: { dataIndex: 'data', label: 'name', value: [':name'] },
            minChar: 3
          }
        },
        { name: 'floorName', label: 'Floor', type: 'search', placeholder: 'Please type Floor name', required:true, validate:'empty',
          settings: {
            remote : {
              url: '/building/{{buildingName}}/floor',
              urlParam: {buildingName: '$("#_buildingName_ > input[name=buildingName]").val()'},
              query: 'columns[0][search][value]',
              extraData: { 'columns[0][name]': 'name',  'length': 20, 'order[0][column]': 0, 'order[0][dir]': 'asc'}
            },
            resultMapping: { dataIndex: 'data', label: 'name', value: [':name'] },
            minChar: 3
          }
        },
        { name: 'roomName', label: 'Room', type: 'search', placeholder: 'Please type Room name', required:true, validate:'empty',
          settings: {
            remote : {
              url: '/floor/{{floorName}}/room',
              urlParam: {floorName: '$("#_floorName_ > input[name=floorName]").val()'},
              query: 'columns[0][search][value]',
              extraData: { 'columns[0][name]': 'name',  'length': 20, 'order[0][column]': 0, 'order[0][dir]': 'asc'}
            },
            resultMapping: { dataIndex: 'data', label: 'name', value: [':name'] },
            minChar: 3
          }
        },
        { name: 'spaceId', label: 'Space', type: 'search', placeholder: 'Please type Space name', required:true, validate:'empty',
          settings: {
            remote : {
              url: '/room/{{roomName}}/space',
              urlParam: {roomName: '$("#_roomName_ > input[name=roomName]").val()'},
              query: 'columns[0][search][value]',
              extraData: { 'columns[0][name]': 'name',  'length': 20, 'order[0][column]': 0, 'order[0][dir]': 'asc'}
            },
            resultMapping: { dataIndex: 'data', label: 'name', value: [':_id'] },
            minChar: 3
          }
        },
        { name: 'type', label: 'Type', type: 'select', placeholder: 'ex. SUB-RACK', validate:'empty', required:true,
          settings: {
            remote: {
              url: '/ReferenceObject/POWER_DISTRIBUTION_TYPE',
              method: 'GET'
            },
            resultMapping: {
              dataIndex: 'data',
              label: 'displayName',
              value: [':value']
            }
          }
        },
        { name: 'name', label: 'Name', placeholder: 'ex. LBG-UPS-A-PDU-2', validate:'empty', required:true},
        { name: 'label', label: 'Label', placeholder: 'ex. PDU 2 dari UPS-A TDC Lembong', validate:'empty', required:true},
        { name: 'height', label: 'Height (cm)', placeholder: 'ex. 200', validate:'empty', required:true},
        { name: 'width', label: 'Width (cm)', placeholder: 'ex. 60', validate:'empty', required:true},
        { name: 'length', label: 'Length (cm)', placeholder: 'ex. 120', validate:'empty', required:true},
        { name: 'serialNumber', label: 'Serial Number', placeholder: 'ex. PDU1234DOSI', validate:'empty', required:true},
        { name: 'manufacturer', label: 'Manufacturer', type: 'select', placeholder: 'ex. LG', validate:'empty', required:true,
          settings: {
            remote: {
              url: '/ReferenceObject/NETWORK_VENDOR',
              method: 'GET'
            },
            resultMapping: {
              dataIndex: 'data',
              label: 'displayName',
              value: [':value']
            }
          }
        },
        { name: 'model', label: 'Model', type: 'select', placeholder: 'ex. GT-N022', validate:'empty', required:true,
          settings: {
            remote: {
              url: '/ReferenceObject/BATTERY_MODEL',
              method: 'GET'
            },
            resultMapping: {
              dataIndex: 'data',
              label: 'displayName',
              value: [':value']
            }
          }
        },
        { name: 'currentType', label: 'Current Type', type: 'select', placeholder: 'ex. GT-N022', validate:'empty', required:true,
          settings: {
            remote: {
              url: '/ReferenceObject/CURRENT_TYPE',
              method: 'GET'
            },
            resultMapping: {
              dataIndex: 'data',
              label: 'displayName',
              value: [':value']
            }
          }
        },
        { name: 'voltage', label: 'Input Voltage', placeholder: 'ex. 120', validate:'empty', required:true},
        { name: 'ampere', label: 'Input Ampere', placeholder: 'ex. 120', validate:'empty', required:true},
        { name: 'purpose', label: 'Purpose', type: 'select', placeholder: 'ex. COMMERCIAL', validate:'empty', required:true,
          settings: {
            remote: {
              url: '/ReferenceObject/RACK_PURPOSE',
              method: 'GET'
            },
            resultMapping: {
              dataIndex: 'data',
              label: 'displayName',
              value: [':value']
            }
          }
        },
      ]
    },
    trigger: {
      className: "openAddModal"
    }
  }
include ../component/new/modalForm