-
  tableSettings = {
    key: "tableRack",
    title: "Rack",
    tooltipTitle : "list of Rack that served by this device",
    collapse : true,
    filterable: true,
    columns: [
      {label: "Name", name: "name", link: "view", filter: {type: 'text'}},
      {label: "Label", name: "_id", filter: {type: 'text'}},
      {label: "Type", name: "type", filter: {type: 'text'}},
      {label: "Serial Number", name: "serialnumber", filter: {type: 'text'}},
      {label: "Size(H/W/L/S)", name: "size", filter: {type: 'text'}},
      {label: "Install Date", name: "installdate", filter: {type: 'text'}},
      {label: "Shelf", name: "shelf", filter: {type: 'text'}},
      {label: "Slot", name: "slot", filter: {type: 'text'}},
    ],
    data: data.datatable,
    buttons: data.buttonDatatable
  }
include ../component/new/table
-
  modalForm = {
    key: 'openAddRack',
    title: 'Create Rack',
    form: {
      url: data.addUrl,
      fields:[
        { name: 'locationName', label: 'Location', type: 'search', placeholder: 'Please type Location name', required:true, validate:'empty',
          settings: {
            remote : {
              url: '/location/data',
              query: 'columns[0][search][value]',
              extraData: { 'columns[0][name]': 'name',  'length': 20, 'order[0][column]': 0, 'order[0][dir]': 'asc'}
            },
            resultMapping: { dataIndex: 'data', label: 'name', value: [':name'] },
            minChar: 3
          }
        },
        { name: 'buildingName', label: 'Building', type: 'search', placeholder: 'Please type Building name', required:true, validate:'empty',
          settings: {
            remote : {
              url: '/location/{{locationName}}/building',
              urlParam: {locationName: '$("#_locationName_ > input[name=locationName]").val()'},
              query: 'columns[0][search][value]',
              extraData: { 'columns[0][name]': 'name',  'length': 20, 'order[0][column]': 0, 'order[0][dir]': 'asc'}
            },
            resultMapping: { dataIndex: 'data', label: 'name', value: [':_id'] },
            minChar: 3
          }
        },
        { name: 'floorId', label: 'Floor', type: 'search', placeholder: 'Please type Floor name', required:true, validate:'empty',
          settings: {
            remote : {
              url: '/building/{{buildingName}}/floor',
              urlParam: {buildingName: '$("#_buildingName_ > input[name=buildingName]").val()'},
              query: 'columns[0][search][value]',
              extraData: { 'columns[0][_id]': 'name',  'length': 20, 'order[0][column]': 0, 'order[0][dir]': 'asc'}
            },
            resultMapping: { dataIndex: 'data', label: 'name', value: [':_id'] },
            minChar: 1
          }
        },
      { name: "type", label: "Type", type: "select", placeholder: "ex. SUB-RACK", validate:'empty', required:true, settings: {remote: {url: "/ReferenceObject/RACK_TYPE", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'displayName', value: [':value']}}},
      { name: "name", label: "Name", placeholder: "ex. RACK-B1", validate:'empty', required:true},
      { name: "label", label: "Label", placeholder: "ex. Rack B1 Ruang IT Hall Gedung C Lantai 4", validate:'empty', required:true},
      { name: "height", label: "Height (cm)", placeholder: "ex. 200", validate:'empty', required:true},
      { name: "width", label: "Width (cm)", placeholder: "ex. 60", validate:'empty', required:true},
      { name: "length", label: "Length (cm)", placeholder: "ex. 120", validate:'empty', required:true},
      { name: "serialNumber", label: "Serial Number", placeholder: "ex. GOOD1234DOSI", validate:'empty', required:true},
      { name: "manufacturer", label: "Manufacturer", type: "select", placeholder: "ex. GDLT", validate:'empty', required:true,settings: {remote: {url: "/ReferenceObject/NETWORK_VENDOR", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'displayName', value: [':value']}}},
      { name: "model", label: "Model", type: "select", placeholder: "ex. GT-N022", validate:'empty', required:true,settings: {remote: {url: "/ReferenceObject/RACK_MODEL", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'displayName', value: [':value']}}},
      { name: "purpose", label: "Purpose", type: "select", placeholder: "ex. COMMERCIAL", validate:'empty', required:true,settings: {remote: {url: "/ReferenceObject/RACK_PURPOSE", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'displayName', value: [':value']}}},
      ]
    },
    trigger: {
      className: "openAddRack"
    }
  }
include ../component/new/modalForm