-
  tableSettings = {
    key: "tableReservation",
    title: "Reservation",
    tooltipTitle: "List of Reservation that served by this device",
    collapse: true,
    filterable: true,
    columns: [
      {label: "Reservation ID", name: "reservationId", link: "view", filter: {type: 'text'}},
      {label: "Service Type", name: "serviceType", filter: {type: 'text'}},
      {label: "Requester System", name: "requesterSystem", filter: {type: 'text'}},
      {label: "Customer Id", name: "customerId", filter: {type: 'text'}},
      {label: "Customer Name", name: "customerName", filter: {type: 'text'}},
      {label: "Reserve Date", name: "reserveDate", filter: {type: 'text'}},
      {label: "Expired Date", name: "expiredDate", filter: {type: 'text'}},
    ],
    data: [],
    buttons: {
      add: {label: "Add Reservation", className: "openAddReservation"},
      delete : {label: "Delete Reservation", link: "delete", callBack: "deleteCallback"}
    }
  }
include ../component/new/table

-
  modalForm = {
    key: "openAddReservation",
    title: "Create Reservation",
    form: {
      url: data.addUrl,
      fields: [
          { name: 'reservationId', type: 'hidden', value: ""},
          { name: "serviceType", label: "Type", placeholder: "ex. ", validate:'empty', required:true},
          { name: "requesterSystem", label: "Requester System", placeholder: "ex. ", validate:'empty', required:true},
          { name: "customerId", label: "Customer Id", placeholder: "ex. ", validate:'empty', required:true},
          { name: "customerName", label: "Customer Name", placeholder: "ex. ", validate:'empty', required:true},
          { name: "reserveDate", label: "Reserve Date", type: "date", placeholder: "ex. ", validate:'empty', required:true},
          { name: "expiredDate", label: "expired Date", type: "date", placeholder: "ex. ", validate:'empty', required:true},
      ]
    },
    trigger: {
      className: "openAddReservation"
    }
  }
include ../component/new/modalForm