-
  tableSettings = {
    key: "tableService",
    title: "Service",
    tooltipTitle: "List of Service that served by this device",
    collapse: true,
    filterable: true,
    columns: [
      {label: "Service ID", name: "serviceId", link: "view", filter: {type: 'text'}},
      {label: "Type", name: "type", filter: {type: 'text'}},
      {label: "Number", name: "number", filter: {type: 'text'}},
      {label: "Customer Id", name: "customerId", filter: {type: 'text'}},
      {label: "Customer Name", name: "customerName", filter: {type: 'text'}},
      {label: "Install Address", name: "installAddress", filter: {type: 'text'}},
      {label: "Install Date", name: "installDate", filter: {type: 'text'}},
      {label: "Status", name: "status", filter: {type: 'text'}},
    ],
    data: [],
    buttons: {
      add: {label: "Add Service", className: "openAddService"},
      delete : {label: "Delete Service", link: "delete", callBack: "deleteCallback"}
    }
  }
include ../component/new/table
-
  modalForm = {
    key: "openAddService",
    title: "Create Service",
    form: {
      url: data.addUrl,
      fields: [
          { name: 'serviceId', type: 'hidden', value: ""},
          { name: "type", label: "Type", placeholder: "ex. ", validate:'empty', required:true},
          { name: "number", label: "Number", placeholder: "ex. ", validate:'empty', required:true},
          { name: "customerId", label: "Customer Id", placeholder: "ex. ", validate:'empty', required:true},
          { name: "customerName", label: "Customer Name", placeholder: "ex. ", validate:'empty', required:true},
          { name: "installAddress", label: "Install Address", placeholder: "ex. ", validate:'empty', required:true},
          { name: "installDate", label: "Install Date", placeholder: "ex. ", type: "date", validate:'empty', required:true},
          { name: "status", label: "Status", type: "select", value: "", action:"", settings: {options: [{label: "ACTIVE", value: "ACTIVE"}, {label: "INACTIVE", value: "INACTIVE"}]}}
      ]
    },
    trigger: {
      className: "openAddService"
    }
  }
include ../component/new/modalForm