block script
    script.
        $('#submitcreateroom').click(function(){
            const options = {
                method : "POST",
                params : {
                    id : $('#roomfloor').val(), // Floor ID
                    name : $('#roomname').val(),
                    type : $('#roomtype').val(),
                    label : $('#roomlabel').val(),
                    width : $('#roomwidth').val(),
                    height : $('#roomheight').val(),
                    lengths : $('#roomlength').val(),
                    squereMeter : $('#roomsqueremeter').val(),
                    spaceLength : $('#roomspacelength').val(),
                    spaceWidth : $('#roomspacewidth').val(),
                    totalRow : $('#roomrow').val(),
                    totalColumn : $('#roomcolumn').val(),
                    rowDirection : $('#roomrowdirection').val(),
                }
            }
            requestData('/layout2d/room',options,function(resp){
                $('#roomidhidden').val(resp._id)
                $('#roomcolumnhidden').val(resp.totalColumn)
                $('#roomrowhidden').val(resp.totalRow)
                $('#roomheadername').text(resp.name)
                generateLayout()
            })
        })
        $('#showfindroom').click(function(){
            const options = {
                method : "GET",
                params : {
                    roomId : $('#findroomroom').val()
                }
            }
            requestDataLoading('/layout2d/getRoomById',options,function(resp){
                $('#roomidhidden').val(resp[0]._id)
                $('#roomcolumnhidden').val(resp[0].totalColumn)
                $('#roomrowhidden').val(resp[0].totalRow)
                iziToast.success({
                    title : "OK !",
                    message : "Success Find Room !",
                    timeout : 3000
                })
                generateLayout()
            })
        })
        $('#savesetassignment').click(function(){
            let valueChecked = []
            $('.checkbox:checked').each(function (idx) {
                valueChecked[idx] = $(this).val()
            })
            const roomId = $('#roomidhidden').val()
            const assignmentStatus = $('#assignmentstatus').val()
            const purpose = $('#assignmentpurpose').val()
            const getObjectAssignment = $('#selectobjectassigned').val()
            let getColorAssigned = setColorAssignedFlag(assignmentStatus,getObjectAssignment)
            const options = {
                method : "POST",
                params : {
                    roomId : roomId,
                    cell : valueChecked,
                    assignmentStatus : getColorAssigned.assignedStatus,
                    purpose : purpose,
                    assignmentStatusFlag : getColorAssigned.assignedStatusFlag
                }
            }
            requestData('/layout2d/updateSpaceAssignment',options,function(resp){
                iziToast.success({
                    title : "OK !",
                    message : "Success Update Space !",
                    timeout : 3000
                })
                generateLayout()
            })
        })