extends ../layout

block breadcrumb
  +breadcrumb('Cable Sheath', {text: 'Home', url: '/'})

block content
  -
    const tableSettings = {
      key: "cablesheath",
      columns: dataStructure,
      filterable: true,
      data: {
        url: links.data.url,
        method: links.data.method
      },
      buttons: {
        add: {label: "Create a new Cable Sheath", className: "openAddCableSheathModal"},
      }
    }
  include ../component/new/table

  -
    const modalForm = {
      key: "addCableSheath",
      title: "Create Cable Sheath",
      trigger: {
        className: "openAddCableSheathModal"
      },
      form: {
        url: "/CableSheath",
        fields: [
          {name: "name", label: "Name", type: 'text', placeholder: "ex. DS-LBG-FE-10-05-01/03-03", 
          rules:[{type:'empty', prompt:'{name} must have a value'}], required:true},
          {name: "notes", label: "Notes", type: 'text', placeholder: "ex. PRONET"},
          {name: "division", label: "Division", type: 'text', placeholder: "ex. OSP", 
          rules:[{type:'empty', prompt:'{name} must have a value'}], required:true},
          {name: "measuredlength", label: "Measured Length (meter)", type: 'number', placeholder: "ex. 7300 | 7300.5", 
          rules:[{type:'regExp', value:'^\\d*\\.?\\d*$'},{type:'empty', prompt:'{name} must have a value'}], required:true},
          {name: "calculatedlength", label: "Calculated Length (meter)", type: 'number', placeholder: "ex. 7300 | 7300.5", 
          rules:[{type:'regExp', value:'^\\d*\\.?\\d*$'},{type:'empty', prompt:'{name} must have a value'}], required:true},
          {name: "estimatedloss", label: "Estimated Loss (dB)", type: 'number', placeholder: "ex. 0"}, 
          {name: "start_locn", label: "Start Locn", type: 'search', placeholder: "ex. KT2G",
          rules:[{type:'empty', prompt:'{name} must have a value'}], required:true,
              settings: {
                remote : {
                  url: "/info/locn",
                  query: "locnQuery",
                },
                resultMapping: { dataIndex: '', label: 'name', value: 'name' },
                minChar: 3
              },
          },
          {name: "end_locn", label: "End Locn", type: 'search', placeholder: "ex. SLPC",
          rules:[{type:'empty', prompt:'{name} must have a value'}], required:true,
              settings: {
                remote : {
                  url: "/info/locn",
                  query: "locnQuery",
                },
                resultMapping: { dataIndex: '', label: 'name', value: 'name' },
                minChar: 3
              },
          },
          {name: "type", label: "Type", type: 'select', placeholder: "ex. JUNC KD-G655", 
          rules:[{type:'empty', prompt:'{name} must have a value'}], required:true,
          settings: {remote: {url: '/info/type'}, resultMapping: {label: "name", value: 'key'}}},
          {name: "productname", label: "Product Name", type: 'select', placeholder: "ex. C1.12PIRELLI", 
          rules:[{type:'empty', prompt:'{name} must have a value'}], required:true, 
          settings: {remote: {url: '/info/productName'}, resultMapping: {label: "name", value: "name"}}},
          {name: "networkrole", label: "Network Role", type: 'select', placeholder: "ex. BACKBONE", 
          rules:[{type:'empty', prompt:'{name} must have a value'}], required:true, 
          settings: {remote: {url: '/info/cableNetworkRole'}, resultMapping: {label: "name", value: "name"}}}
        ],
        buttonLabel: "Create",
      },
    }
  include ../component/new/modalForm