extends ../layout

block breadcrumb
  +breadcrumb('Floor', {text: 'Home', url: '/'})

block content
  -
    const tableSettings = {
      key: "Floor",
      columns: dataStructure,
      filterable: true,
      data: {
        url: links.data.url,
        method: links.data.method,
        cached: true
      },
      buttons: {
      }
    }
  include ../component/new/table

  -
    const modalForm = {
      key: "createFloor",
      title: "Create Floor",
      form: {
        url: "/object",
        fields: [
            { name: "buildingId", label: "Building", type: "select", placeholder: "Select Building", settings: {remote: {url: "/building/data", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'name', value: [':_id']}}},
            { name: "name", label: "Name", placeholder: "ex. Bandung", validate:'empty', required:true},
            { name: "type", label: "type", placeholder: "ex. Bandung", validate:'empty', required:true},
            { name: "level", label: "Level", placeholder: "ex. Bandung", validate:'empty', required:true},
            { name: "height", label: "Floor", placeholder: "ex. Bandung", validate:'empty', required:true},
            { name: "width", label: "Name", placeholder: "ex. Bandung", validate:'empty', required:true},
            { name: "length", label: "Name", placeholder: "ex. Bandung", validate:'empty', required:true},
        ]
      },
      trigger: {
        className: "openAddModal"
      }
    }
  include ../component/new/modalForm