//- if (displayFooter)
//-   #footer
//-     if version
//-       .ui.teal.label(style='font-family: Tauri, sans-serif') VERSION
//-         .detail #{version}
if showData
  pre
    code.json(style='margin: 30px !important') #{JSON.stringify(dataToShow, null, 2)}
