extends layout

block style
  style.
    .welcome {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 80vh;
    }
    .welcome p.title {
      font-family: Raleway, sans-serif;
      font-size: 100px;
      margin: 0;
      padding: 0;
      line-height: 1em;
    }
    .welcome p {
      font-family: Tauri, sans-serif;
      text-align: center;
      font-weight: 400;
    }

block content
  .welcome
    div
      p.title #{title}
      .ui.divider
      p #{fullTitle}