include header
h1
h1
h1
h1
style.
    body {
        background-color: #f3f3f3;
    }

    .auth_message::first-letter {
        text-transform: capitalize;
    }

    .wrapper {
        top: 10px;
        position: absolute;
        width: 100%;
    }

    .message_wrapper {
        position: absolute;
        top: 0;
        width: 100%;
    }

    .message_box {
        background-color: rgba(0, 0, 0, 0) !important;
    }

    .app_title {
        text-align: center;
        font-family: 'Raleway', sans-serif;
        font-size: 60px;
    }

    .spacer {
        height: 10vh;
    }

    .form_input {
        background-color: #f3f3f3;
        padding: 10px;
        -moz-transition: all 0.8s ease-in-out;
        -o-transition: all 0.8s ease-in-out;
        -webkit-transition: all 0.8s ease-in-out;
        transition: all 0.8s ease-in-out;
        outline: none;
        border: 0;
        border-bottom: 1px solid rgba(225, 225, 225, 1);
    }

    .form_input i {
        padding: 20px;
    }

    .form_input:hover {
        border-bottom: 1px solid #6FB7EA;
    }


script.
  $(document).ready(function () {
    $('.login_button').click(function () {
      $("#login_form").submit();
    });

    if ("!{authMessage}".length > 1) {
      $('.message_box').transition('vertical flip');
      setTimeout(function () {
        $('.message_box').transition('vertical flip');
      }, 5000);
    }

    $('input').keyup(function (e) {
      if (e.keyCode === 13)
        $("#login_form").submit();
    });

  });

.ui.grid.center.aligned.wrapper
    .row
        .six.wide.column
            if authMessage
                - var msgType = authMessageInfo? 'info' : 'warning sign'
                - var msgTitle = authMessageInfo? 'Info' : 'Authentication failed'
                - var color = authMessageInfo? 'positive' : 'negative'
            .ui.message_wrapper
                .ui.icon.message.mini.compact.message_box.hidden(class=color)
                    i.icon(class=msgType)
                    .content(style='text-align: left;')
                        .ui.header
                            | #{msgTitle}
                        p.auth_message #{authMessage}
    .row
        .sixteen.wide.column.spacer
    .row
        .four.wide.column
            .app_title(style='padding-bottom: 25px;')= title
            .ui.divider.fitted
    .row
        .four.wide.column
            form#login_form(action='/login' method='POST')
                .ui.transparent.left.icon.input.fluid.form_input
                    input(type='text' name='username' placeholder='username . . .')
                    i.icon.user
                .ui.divider.hidden
                .ui.transparent.left.icon.input.fluid.form_input
                    input(type='password' name='password' placeholder='password . . .')
                    i.icon.privacy
                .ui.divider.hidden
                .login_button.ui.animated.fade.basic.button(tabindex='0')
                    .visible.content
                        i.icon.unlock.alternate
                    .hidden.content Sign In
