extends ../layout

block breadcrumb
  +breadcrumb(data.name, {text: 'Home', url: '/'}, {text: 'Device', url: '/device'}, {text: data.device.name, url: data.device.links.view.url})

block content
  -
    const actionTab  = {
      key: "editModuleInfo",
      delete: {
        url: data.links.delete.url,
        label: "Delete this module",
      }
    }
  include ../component/removeButton

  -
    let detailView = {
      key: "moduleInfo",
      title: "Module Information",
      fields: [
        {name: "name", label: "Name", type: 'text', value: data.name},
        {name: "description", label: "Description", type: 'text', value: data.description},
        {name: "type", label: "Type", type: 'text', value: data.type},
        {name: "model", label: "Model", type: 'text', value: data.model},
        {name: "serialNumber", label: "Serial Number", type: 'text', value: data.serialNumber},
        {name: "hostname", label: "Hostname", type: 'text', value: data.hostname},
        {name: "ipAddress", label: "IP Address", type: 'text', value: data.ipAddress},
        {name: "nat", label: "NAT", type: 'text', value: data.nat},
        {name: "status", label: "Status", type: 'select', value: data.status, settings: {options: [{label: "IN SERVICE", value: "INSERVICE"}, {label: "OUT OF SERVICE", value: "OUTOFSERVICE"}]}},
      ],
      actions: {
        edit: {
          url: data.links.edit.url,
        }
      }
    }
  include ../component/new/fieldList

  -
    detailView = {
      key: "additionalInfo",
      title: "Additional Information",
      fields: [
        {name: "createdAt", label: "Created At", type: 'readonly', value: new Date(data.createdAt).toUTCString()},
        {name: "createdBy", label: "Created By", type: 'readonly', value: data.createdBy},
      ],
      actions: {
        edit: {
          url: data.links.edit.url,
        }
      }
    }
  include ../component/new/fieldList

  -
    detailView = {
      key: "deviceInfo",
      title: "Device Information",
      fields: [
        {label: "Device Name", type: 'readonly', value: data.device ? data.device.name : "", link: data.device ? data.device.links.view.url : ""},
        {label: "IP Address", type: 'readonly', value: data.device ? data.device.ipAddress : ""},
      ],
    }
  include ../component/new/fieldList

  -
    tableSettings = {
      key: "interface",
      title: "Interface Information",
      columns: [
        { label: "Name", name: "name", link: 'view', filter: {type: 'text'}},
        { label: "Purpose", name: "purpose", filter: {type: 'text'}},
        { label: "Network Name", name: "networkName", filter: {type: 'text'}},
        { label: "Status", name: "status", filter: {type: 'text'}},
        { label: "Created By", name: "createdBy", filter: {type: 'text'}, value: data.createdBy},
        { label: "Created At", name: "createdAt", filter: {type: 'date'}, value: new Date(data.createdAt).toUTCString()},
      ],
      filterable: true,
      data: {
        url: data.links.interfaceData.url,
        method: data.links.interfaceData.method,
        cached: true,
      },
      buttons: {
        add: {label: "Add new Interface to this module", className: "openAddInterfaceModal"},
      }
    }
  include ../component/new/table

  -
    var modalForm = {
      key: "addInterface",
      title: "Add New Interface",
      form: {
        url: data.links.addInterface.url,
        fields: [
            { name: "name", label: "Name", placeholder: "ex. 1-1-10", validate: 'empty', required:true},
            { name: "purpose", label: "Purpose", validate: 'empty', required:true, type: 'select', settings: {multiple: true, options: [{label: "TRUNK", value: "TRUNK"}, {label: "SUBSCRIBER", value: "SUBSCRIBER"}]}},
            { name: "networkName", label: "Network Name", placeholder: "ex. 1-1-10", validate: 'empty', required:true},
            { name: "status", label: "Status", type: 'select', value: 'ACTIVE', settings: {options: [{label: "ACTIVE", value: "ACTIVE"}, {label: "INACTIVE", value: "INACTIVE"}]}},
            { name: "deviceId", type: "hidden", value: data.device.id},
            { name: "moduleId", type: "hidden", value: data.id},
            { name: "moduleName", type: "hidden", value: data.name},
            { name: "deviceName", type: "hidden", value: data.device.name},
            { name: "deviceIp", type: "hidden", value: data.device.ipAddress},
        ],
      },
      trigger: {
        className: "openAddInterfaceModal"
      }
    }
  include ../component/new/modalForm

  each item in data.others
    div
      pre= JSON.stringify(item, null, 2)
