div(style="float: right")
  button.ui.tiny.left.labeled.orange.icon.button(id=actionTab.key+"UpdateButton" data-tooltip=actionTab.update.label) <i class="edit icon"></i> Change
//- div(style="clear: both; height: 50px")

script.
  $(document).ready(function () {
    $('#!{actionTab.key}UpdateButton').on("click", function (event) {
      if (confirm("Are you sure?") == true) {
        sendPut({
          url: "!{actionTab.update.url}",
        });
      }
     });
  });