extends ../layout

block breadcrumb
  +breadcrumb(data.name, {text: 'Home', url: '/'}, {text: 'Rack', url: '/rack'})

block script
  script.
    function deleteCallback(element, data) {
      if (confirm("Are you sure?") == true) {
        sendDelete ({
          url: data.links[element.getAttribute("link")].url,
          done: function(){
            window.location.reload();
          }
        });
      }
    }
    $('.menu .item').tab()

block content
  -
    const actionTab  = {
      key: 'deleteRack',
      delete: {
        url: data.links.delete.url,
        info: 'Delete this Rack',
        label: 'Delete this Rack',
      }
    }
  include ../component/removeButton

  -
    let detailView = {
      key: 'editRack',
      title: 'Rack Information',
      fields: [
        {name: 'type', label: 'Type', type: 'select', value: data.type, settings: {remote: {url: "/referenceObject/RACK_TYPE", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'displayName', value: [':value']}}},
        {name: 'name', label: 'Name', type: 'text', value: data.name},
        {name: 'label', label: 'Label', type: 'text', value: data.label},
        {name: 'uid', label: 'UID', type: 'text', value: data.uid},
        {name: 'height', label: 'Height (m)', type: 'text', value: data.height},
        {name: 'width', label: 'Width (m)', type: 'text', value: data.width},
        {name: 'length', label: 'Length (m)', type: 'text', value: data.length},
        {name: 'serialNumber', label: 'Serial Number', type: 'text', value: data.serialNumber},
        {name: 'manufacturer', label: 'Manufacturer', type: 'select', value: data.manufacturer, settings: {remote: {url: "/referenceObject/NETWORK_VENDOR", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'displayName', value: [':value']}}},
        {name: 'model', label: 'Model', type: 'select', value: data.model, settings: {remote: {url: "/referenceObject/RACK_MODEL", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'displayName', value: [':value']}}},
        {name: 'purpose', label: 'Purpose', type: 'select', value: data.purpose, settings: {remote: {url: "/referenceObject/RACK_PURPOSE", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'displayName', value: [':value']}}},
        {name: 'status', label: 'Status', type: 'select', value: data.status, action:data.links.patch, settings: {options: [{label: "ACTIVE", value: "ACTIVE"}, {label: "INACTIVE", value: "INACTIVE"}]}},
      ],
      actions: {
        edit: {
          url: data.links.edit.url,
          label: 'Edit service information',
        }
      }
    }
  include ../component/new/fieldList


  .ui.top.attached.tabular.menu
    a.item.active(data-tab='tab1') Details
    a.item(data-tab='tab2') Map
    a.item(data-tab='tab3') Location
    a.item(data-tab='tab4') Service
    a.item(data-tab='tab5') Attachment
    a.item(data-tab='tab6') Asset
    a.item(data-tab='tab7') Contact
    a.item(data-tab='tab8') Event
  .ui.bottom.attached.tab.segment.active(data-tab='tab1')
    -
      tableSettings = {
        key: "tableShelf",
        title: "Shelf",
        filterable: true,
        columns: [
          {label: "Number", name: "number", filter: {type: 'text'}},
          {label: "Name", name: "name",link: "view", filter: {type: 'text'}},
          {label: "Label", name: "label", filter: {type: 'text'}},
          {label: "Size", name: "size", filter: {type: 'text'}},
          {label: "Purpose", name: "purpose", filter: {type: 'text'}},
          {label: "Created At", name: "createdAt", type: 'date'}
        ],
        data: data.shelfData,
        buttons: {
          delete: {label: "Remove Shelfs from this Rack", link: "delete", callback: "deleteCallback"}
        }
      }

      if(data.type !== "FULL-RACK"){
        tableSettings.buttons.add = {label: "Add Shelf", className: "openAddShelf"}
      }
      
    include ../component/new/table

    -
      modalForm = {
        key: "openAddShelf",
        title: "Create Shelf",
        form: {
          url: "/rack/shelf",
          fields: [
              { name: "rackId", type: "hidden", value: data._id },
              { name: "name", label: "Name", placeholder: "ex. SUB-RACK-B1.1", validate:'empty', required:true},
              { name: "number", label: "Number", placeholder: "ex. 1", validate:'empty', required:true},
              { name: "label", label: "Label", placeholder: "ex. Sub Rack B1.1 Ruang IT Hall Gedung C Lantai 4", validate:'empty', required:true},
              { name: "height", label: "Height (cm)", placeholder: "ex. 80", validate:'empty', required:true},
              { name: "width", label: "Width (cm)", placeholder: "ex. 60", validate:'empty', required:true},
              { name: "length", label: "Length (cm)", placeholder: "ex. 120", validate:'empty', required:true},
              { name: "serialNumber", label: "Serial Number", placeholder: "ex. GOOD1234DOSI", validate:'empty', required:true},
              { name: "purpose", label: "Purpose", type: "select", placeholder: "ex. COMMERCIAL", validate:'empty', required:true, settings: {remote: {url: "/referenceObject/RACK_PURPOSE", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'displayName', value: [':value']}}},
          ]
        },
        trigger: {
          className: "openAddShelf"
        }
      }

    include ../component/new/modalForm

    -
      tableSettings = {
        key: "tableSlot",
        title: "Slot",
        filterable: true,
        columns: [
          {label: "Name", name: "name",link: "view", filter: {type: 'text'}},
          {label: "Slot Number", name: "number", filter: {type: 'text'}},
          {label: "Label", name: "label", filter: {type: 'text'}},
          {label: "Purpose", name: "purpose", filter: {type: 'text'}},
          {label: "Status", name: "status", filter: {type: 'text'}}
        ],
        data: data.shelfData,
        buttons: {
          delete: {label: "Remove Slots from this Rack", link: "delete", callback: "deleteCallback"}
        }
      }
    include ../component/new/table

    -
      modalForm = {
        key: "openAddSlot",
        title: "Create Slot",
        form: {
          url: "/rack/slot",
          fields: [
              { name: "rackId", type: "hidden", value: data._id },
              { name: "name", label: "Name", placeholder: "ex. SUB-RACK-B1.1", validate:'empty', required:true},
              { name: "number", label: "Number", placeholder: "ex. 1", validate:'empty', required:true},
              { name: "label", label: "Label", placeholder: "ex. Sub Rack B1.1 Ruang IT Hall Gedung C Lantai 4", validate:'empty', required:true},
              { name: "purpose", label: "Purpose", type: "select", placeholder: "ex. COMMERCIAL", validate:'empty', required:true, settings: {remote: {url: "/referenceObject/RACK_PURPOSE", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'displayName', value: [':value']}}},
              { name: "status", label: "Status", type: "select", value: "", action:"", settings: {options: [{label: "ACTIVE", value: "ACTIVE"}, {label: "INACTIVE", value: "INACTIVE"}]}}
          ]
        },
        trigger: {
          className: "openAddSlot"
        }
      }
      
    include ../component/new/modalForm
    -
      tableSettings = {
        key: "tableElectricSocket",
        title: "Electric Socket",
        filterable: true,
        columns: [
          {label: "Name", name: "name",link: "view", filter: {type: 'text'}}
        ],
        data: [],
        buttons: {
          delete: {label: "Remove Data", link: "delete", callback: "deleteCallback"}
        }
      }
    include ../component/new/table
    -
      tableSettings = {
        key: "tableConnctivityPanel",
        title: "Connectivity Panel",
        filterable: true,
        columns: [
          {label: "Name", name: "name",link: "view", filter: {type: 'text'}}
        ],
        data: [],
        buttons: {
          delete: {label: "Remove Data", link: "delete", callback: "deleteCallback"}
        }
      }
    include ../component/new/table
  .ui.bottom.attached.tab.segment(data-tab='tab2')
    -
      let mapSettings = {
        key : "mapLocation",
        objectType : 'location',
        objectTitle : "Location",
        title: "Map Location",
        data : [],
        function : {
          edit : {
            url : "/mapHandler/"
          },
          delete : {
            url : "/mapHandler/"
          },
          add : {
            className : "addLocationMap",
          }
        }
      }
    include ../component/new/map  

  .ui.bottom.attached.tab.segment(data-tab='tab3')
    -
      tableSettings = {
        key: "tableCustomer",
        title: "Customer",
        tooltipTitle: "List of Customer that served by this device",
        collapse: true,
        filterable: true,
        columns: [
          {label: "Customer ID", name: "customerId", link: "view", filter: {type: 'text'}},
          {label: "Name", name: "name", filter: {type: 'text'}},
          {label: "Nick Name", name: "nickname", filter: {type: 'text'}},
          {label: "Segment", name: "segment", filter: {type: 'text'}},
          {label: "Address", name: "address", filter: {type: 'text'}},
          {label: "#Service", name: "service", filter: {type: 'text'}},
          {label: "Registered Date", name: "registeredDate", filter: {type: 'text'}},
          {label: "Status", name: "status", filter: {type: 'text'}},
        ],
        data: [],
        buttons: {
          add: {label: "Add Customer", className: "openAddCustomer"},
          delete : {label: "Delete Customer", link: "delete", callBack: "deleteCallback"}
        }
      }
    include ../component/new/table
    -
      modalForm = {
        key: "openAddCustomer",
        title: "Create Customer",
        form: {
          url: "/rack/customer",
          fields: [
              { name: 'customerId', type: 'hidden', value: data._id},
              { name: "name", label: "Name", placeholder: "ex.  ", validate:'empty', required:true},
              { name: "nickname", label: "Nick Name", placeholder: "ex. ", validate:'empty', required:true},
              { name: "segment", label: "Segment", placeholder: "ex. ", validate:'empty', required:true},
              { name: "address", label: "Address", placeholder: "ex. ", validate:'empty', required:true},
              { name: "service", label: "Service", placeholder: "ex. ", validate:'empty', required:true},
              { name: "registeredDate", label: "Registered Date", type: "date", placeholder: "ex. ", validate:'empty', required:true},
              { name: "status", label: "Status", type: "select", value: "", action:"", settings: {options: [{label: "ACTIVE", value: "ACTIVE"}, {label: "INACTIVE", value: "INACTIVE"}]}}
          ]
        },
        trigger: {
          className: "openAddCustomer"
        }
      }
    include ../component/new/modalForm

    -
      tableSettings = {
        key: "tableService",
        title: "Service",
        tooltipTitle: "List of Service that served by this device",
        collapse: true,
        filterable: true,
        columns: [
          {label: "Service ID", name: "serviceId", link: "view", filter: {type: 'text'}},
          {label: "Type", name: "type", filter: {type: 'text'}},
          {label: "Number", name: "number", filter: {type: 'text'}},
          {label: "Customer Id", name: "customerId", filter: {type: 'text'}},
          {label: "Customer Name", name: "customerName", filter: {type: 'text'}},
          {label: "Install Address", name: "installAddress", filter: {type: 'text'}},
          {label: "Install Date", name: "installDate", filter: {type: 'text'}},
          {label: "Status", name: "status", filter: {type: 'text'}},
        ],
        data: [],
        buttons: {
          add: {label: "Add Service", className: "openAddService"},
          delete : {label: "Delete Service", link: "delete", callBack: "deleteCallback"}
        }
      }
    include ../component/new/table
    -
      modalForm = {
        key: "openAddService",
        title: "Create Service",
        form: {
          url: "/rack/service",
          fields: [
              { name: 'serviceId', type: 'hidden', value: data._id},
              { name: "type", label: "Type", placeholder: "ex. ", validate:'empty', required:true},
              { name: "number", label: "Number", placeholder: "ex. ", validate:'empty', required:true},
              { name: "customerId", label: "Customer Id", placeholder: "ex. ", validate:'empty', required:true},
              { name: "customerName", label: "Customer Name", placeholder: "ex. ", validate:'empty', required:true},
              { name: "installAddress", label: "Install Address", placeholder: "ex. ", validate:'empty', required:true},
              { name: "installDate", label: "Install Date", placeholder: "ex. ", type: "date", validate:'empty', required:true},
              { name: "status", label: "Status", type: "select", value: "", action:"", settings: {options: [{label: "ACTIVE", value: "ACTIVE"}, {label: "INACTIVE", value: "INACTIVE"}]}}
          ]
        },
        trigger: {
          className: "openAddService"
        }
      }
    include ../component/new/modalForm

    -
      tableSettings = {
        key: "tableReservation",
        title: "Reservation",
        tooltipTitle: "List of Reservation that served by this device",
        collapse: true,
        filterable: true,
        columns: [
          {label: "Reservation ID", name: "reservationId", link: "view", filter: {type: 'text'}},
          {label: "Service Type", name: "serviceType", filter: {type: 'text'}},
          {label: "Requester System", name: "requesterSystem", filter: {type: 'text'}},
          {label: "Customer Id", name: "customerId", filter: {type: 'text'}},
          {label: "Customer Name", name: "customerName", filter: {type: 'text'}},
          {label: "Reserve Date", name: "reserveDate", filter: {type: 'text'}},
          {label: "Expired Date", name: "expiredDate", filter: {type: 'text'}},
        ],
        data: [],
        buttons: {
          add: {label: "Add Reservation", className: "openAddReservation"},
          delete : {label: "Delete Reservation", link: "delete", callBack: "deleteCallback"}
        }
      }
    include ../component/new/table

    -
      modalForm = {
        key: "openAddReservation",
        title: "Create Reservation",
        form: {
          url: "/rack/reservation",
          fields: [
              { name: 'reservationId', type: 'hidden', value: data._id},
              { name: "serviceType", label: "Type", placeholder: "ex. ", validate:'empty', required:true},
              { name: "requesterSystem", label: "Requester System", placeholder: "ex. ", validate:'empty', required:true},
              { name: "customerId", label: "Customer Id", placeholder: "ex. ", validate:'empty', required:true},
              { name: "customerName", label: "Customer Name", placeholder: "ex. ", validate:'empty', required:true},
              { name: "reserveDate", label: "Reserve Date", type: "date", placeholder: "ex. ", validate:'empty', required:true},
              { name: "expiredDate", label: "expired Date", type: "date", placeholder: "ex. ", validate:'empty', required:true},
          ]
        },
        trigger: {
          className: "openAddReservation"
        }
      }
    include ../component/new/modalForm
    
  .ui.bottom.attached.tab.segment(data-tab='tab4')
    -
      let photosSettings = {
        title: "Photo",
        tooltipTitle: "Associafed photo of this location",
        collapse: true,
        class : "openAddPhoto",
        key : "photoLocation",
        data : [
          {
            uid: "123321",
            name : "Gedung IDC Cimahi",
            image : "/images/avatar/steve.jpg",
            date : "11-08-2020",
            button : {
              delete : "deletePhoto"
            }
          },
          {
            uid: "123321",
            name : "Ruang IDC Cimahi",
            image : "/images/avatar/steve.jpg",
            date : "11-08-2020",
            button : {
              delete : "deletePhoto"
            }
          },
          {
            uid: "123321",
            name : "Tower IDC Cimahi",
            image : "/images/avatar/steve.jpg",
            date : "11-08-2020",
            button : {
              delete : "deletePhoto"
            }
          }
        ]
      }
    
    include ../component/new/photos
    -
      modalForm = {
        key: "openAddPhoto",
        title: "Add New Photo",
        form: {
          url: "/rack/photo",
          fields: [
              { name: 'locationId', type: 'hidden', value: data._id},
              { name: "name", label: "Name", placeholder: "ex. Image Name", validate:'empty', required:true},
              { name: 'filephoto', label: 'Select Photo', type: 'file', validate:'empty', required:true}
          ]
        },
        trigger: {
          className: "openAddPhoto"
        }
      }
    include ../component/new/modalForm
    -
      tableSettings = {
        key: "tableVideo",
        title: "Video",
        tooltipTitle: "Associafed video of this location",
        collapse: true,
        filterable: true,
        columns: [
          {label: "Title", name: "title", link: "view", filter: {type: 'text'}},
          {label: "URL", name: "url", link: "view", filter: {type: 'text'}},
          {label: "Description", name: "description", link: "view", filter: {type: 'text'}},
          {label: "Created Date", name: "createdAt", filter: {type: 'text'}},
          {label: "Created By", name: "createdBy", filter: {type: 'text'}},
        ],
        data: [],
        buttons: {
          add: {label: "Add Video", className: "openAddVideo"},
          delete : {label: "Delete Video", link: "delete", callBack: "deleteCallback"}
        }
      }
    include ../component/new/table
    -
      tableSettings = {
        key: "tableDocument",
        title: "Document",
        tooltipTitle: "Associafed document of this location",
        collapse: true,
        filterable: true,
        columns: [
          {label: "Title", name: "title", link: "view", filter: {type: 'text'}},
          {label: "URL", name: "url", link: "view", filter: {type: 'text'}},
          {label: "Description", name: "description", link: "view", filter: {type: 'text'}},
          {label: "Created Date", name: "createdAt", filter: {type: 'text'}},
          {label: "Created By", name: "createdBy", filter: {type: 'text'}},
        ],
        data: [],
        buttons: {
          add: {label: "Add Document", className: "openAddDocument"},
          delete : {label: "Delete Document", link: "delete", callBack: "deleteCallback"}
        }
      }
    include ../component/new/table
    -
      tableSettings = {
        key: "tableView",
        title: "360 View",
        tooltipTitle: "Associafed view of this location",
        collapse: true,
        filterable: true,
        columns: [
          {label: "Title", name: "title", link: "view", filter: {type: 'text'}},
          {label: "URL", name: "url", link: "view", filter: {type: 'text'}},
          {label: "Description", name: "description", link: "view", filter: {type: 'text'}},
          {label: "Created Date", name: "createdAt", filter: {type: 'text'}},
          {label: "Created By", name: "createdBy", filter: {type: 'text'}},
        ],
        data: [],
        buttons: {
          add: {label: "Add View", className: "openAddView"},
          delete : {label: "Delete View", link: "delete", callBack: "deleteCallback"}
        }
      }
    include ../component/new/table
      -
        modalForm = {
          key: "openAddVideo",
          title: "Create Video",
          form: {
            url: "/rack/video",
            fields: [
                { name: 'locationId',label:"Location ID", type: 'readonly', value: data._id},
                { name: "title", label: "Title", placeholder: "ex. Gedung A", validate:'empty', required:true},
                { name: "url", label: "URL", placeholder: "ex. Gedung A", validate:'empty', required:true},
                { name: "description", label: "Description", placeholder: "ex. Gedung A", validate:'empty', required:true},
  
            ]
          },
          trigger: {
            className: "openAddVideo"
          }
        }
    include ../component/new/modalForm
      -
        modalForm = {
          key: "openAddDocument",
          title: "Create Document",
          form: {
            url: "/rack/document",
            fields: [
                { name: 'locationId',label:"Location ID", type: 'readonly', value: data._id},
                { name: "title", label: "Title", placeholder: "ex. Gedung A", validate:'empty', required:true},
                { name: "url", label: "URL", placeholder: "ex. Gedung A", validate:'empty', required:true},
                { name: "description", label: "Description", placeholder: "ex. Gedung A", validate:'empty', required:true},
  
            ]
          },
          trigger: {
            className: "openAddDocument"
          }
        }
    include ../component/new/modalForm
      -
        modalForm = {
          key: "openAddView",
          title: "Create View",
          form: {
            url: "/rack/view",
            fields: [
                { name: 'locationId',label:"Location ID", type: 'readonly', value: data._id},
                { name: "title", label: "Title", placeholder: "ex. Gedung A", validate:'empty', required:true},
                { name: "url", label: "URL", placeholder: "ex. Gedung A", validate:'empty', required:true},
                { name: "description", label: "Description", placeholder: "ex. Gedung A", validate:'empty', required:true},
  
            ]
          },
          trigger: {
            className: "openAddView"
          }
        }
      include ../component/new/modalForm

  .ui.bottom.attached.tab.segment(data-tab='tab5')
    -
      tableSettings = {
        key: "tableCapex",
        title: "Capex",
        tooltipTitle : "Associated Capex (Capital Extend) that belong to this location",
        collapse : true,
        filterable: true,
        columns: [
          {label: "Contract Number", name: "contractnumber", link: "view", filter: {type: 'text'}},
          {label: "Subject", name: "subject", filter: {type: 'text'}},
          {label: "Description", name: "description", filter: {type: 'text'}},
          {label: "Amount", name: "amount", filter: {type: 'text'}},
          {label: "Contract Date (Start - End)", name: "contractdate", filter: {type: 'text'}},
          {label: "Party", name: "party", filter: {type: 'text'}},
          {label: "#Attach", name: "attach", filter: {type: 'text'}},
        ],
        data: [],
        buttons: {
          add: {label: "Add Capex", className: "openAddCapex"},
          delete : {label: "Delete Capex", link: "delete", callBack: "deleteCallback"}
        }
      }
    include ../component/new/table
    -
      modalForm = {
        key: "openAddCapex",
        title: "Create Capex",
        form: {
          url: "/rack/Capex",
          fields: [
              { name: 'locationId', label: "Location ID",type: 'text', value: data._id},
              { name: "contractnumber", label: "Contract Number", placeholder: "ex. 001", validate:'empty', required:true},
              { name: "subject", label: "Subject", placeholder: "ex. power", validate:'empty', required:true},
              { name: "description", label: "Description", placeholder: "ex. power A", validate:'empty', required:true},
              { name: "amount", label: "Amount", placeholder: "ex. 9 v", validate:'empty', required:true},
              { name: "contractdatestart", label: "Contract Date (Start)", type: "date",placeholder: "ex. 10 v", validate:'empty', required:true},
              { name: "contractdateend", label: "Contract Date (End)", type: "date",placeholder: "ex. 100", validate:'empty', required:true},
              { name: "party", label: "Party", placeholder: "ex. 100", validate:'empty', required:true},
              { name: "attach", label: "#Attach", placeholder: "ex. 100", validate:'empty', required:true},
          ]
        },
        trigger: {
          className: "openAddCapex"
        }
      }
    include ../component/new/modalForm  
    -
      tableSettings = {
        key: "tableOpex",
        title: "Opex",
        tooltipTitle : "Associated Opex (Operational Extend) that belong to this location",
        collapse : true,
        filterable: true,
        columns: [
          {label: "Contract Number", name: "contractnumber", link: "view", filter: {type: 'text'}},
          {label: "Subject", name: "subject", filter: {type: 'text'}},
          {label: "Description", name: "description", filter: {type: 'text'}},
          {label: "Amount", name: "amount", filter: {type: 'text'}},
          {label: "Contract Date (Start - End)", name: "contractdate", filter: {type: 'text'}},
          {label: "Party", name: "party", filter: {type: 'text'}},
          {label: "#Attach", name: "attach", filter: {type: 'text'}},
        ],
        data: [],
        buttons: {
          add: {label: "Add Opex", className: "openAddOpex"},
          delete : {label: "Delete Opex", link: "delete", callBack: "deleteCallback"}
        }
      }
    include ../component/new/table
    -
      modalForm = {
        key: "openAddOpex",
        title: "Create Opex",
        form: {
          url: "/rack/Opex",
          fields: [
              { name: 'locationId', label: "Location ID",type: 'text', value: data._id},
              { name: "contractnumber", label: "Contract Number", placeholder: "ex. 001", validate:'empty', required:true},
              { name: "subject", label: "Subject", placeholder: "ex. power", validate:'empty', required:true},
              { name: "description", label: "Description", placeholder: "ex. power A", validate:'empty', required:true},
              { name: "amount", label: "Amount", placeholder: "ex. 9 v", validate:'empty', required:true},
              { name: "contractdatestart", label: "Contract Date (Start)", type: "date", placeholder: "ex. 10 v", validate:'empty', required:true},
              { name: "contractdateend", label: "Contract Date (End)", type: "date",placeholder: "ex. 100", validate:'empty', required:true},
              { name: "party", label: "Party", placeholder: "ex. 100", validate:'empty', required:true},
              { name: "attach", label: "#Attach", placeholder: "ex. 100", validate:'empty', required:true},
          ]
        },
        trigger: {
          className: "openAddOpex"
        }
      }
    include ../component/new/modalForm  
    
  .ui.bottom.attached.tab.segment(data-tab='tab6')
    -
      tableSettings = {
        key: "tableResponsiblePerson",
        title: "Responsible Person",
        tooltipTitle: "List of person or unit who are responsible for this location",
        collapse: true,
        filterable: true,
        columns: [
          { label: "PIC Name", name: "pic_name", link: "view", filter: {type: 'text'}},
          { label: "Contacts", name: "contacts", filter: {type: 'text'}},
          { label: "Workgroups", name: "workgroups", filter: {type: 'text'}},
        ],
        data: [],
        buttons: {
          add: {label: "Add Responsible Person ", className: "openAddResponsiblePerson"},
          delete : {label: "Delete Responsible Person ", link: "delete", callBack: "deleteCallback"}
        }
      }
    include ../component/new/table

    -
      modalForm = {
        key: "openAddResponsiblePerson",
        title: "Create Responsible Person",
        form: {
          url: "/rack/responsibleperson",
          fields: [
              { name: "workgroups", label: "Workgroups", type: "select", placeholder: "Select Type", settings: {remote: {url: "/ReferenceObject/LOCATION_TYPE", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'displayName', value: [':value']}}}
          ] 
        },
        trigger: {
          className: "openAddResponsiblePerson"
        }
      }
    include ../component/new/modalForm
    -
      tableSettings = {
        key: "tableAccountablePerson",
        title: "Accountable Person",
        tooltipTitle: "List of person or unit who are accountable for this location",
        collapse: true,
        filterable: true,
        columns: [
          { label: "PIC Name", name: "pic_name", link: "view", filter: {type: 'text'}},
          { label: "Contacts", name: "contacts", filter: {type: 'text'}},
          { label: "Workgroups", name: "workgroups", filter: {type: 'text'}},
        ],
        data: [],
        buttons: {
          add: {label: "Add Accountable Person ", className: "openAddAccountablePerson"},
          delete : {label: "Delete Accountable Person ", link: "delete", callBack: "deleteCallback"}
        }
      }
    include ../component/new/table

    -
      modalForm = {
        key: "openAddAccountablePerson",
        title: "Create Accountable Person",
        form: {
          url: "/rack/accountableperson",
          fields: [
              { name: "workgroups", label: "Workgroups", type: "select", placeholder: "Select Type", settings: {remote: {url: "/ReferenceObject/LOCATION_TYPE", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'displayName', value: [':value']}}}
          ] 
        },
        trigger: {
          className: "openAddAccountablePerson"
        }
      }
    include ../component/new/modalForm
    -
      tableSettings = {
        key: "tableControllerPerson",
        title: "Controller Person",
        tooltipTitle: "List of person or unit who control to this location",
        collapse: true,
        filterable: true,
        columns: [
          { label: "PIC Name", name: "pic_name", link: "view", filter: {type: 'text'}},
          { label: "Contacts", name: "contacts", filter: {type: 'text'}},
          { label: "Workgroups", name: "workgroups", filter: {type: 'text'}},
        ],
        data: [],
        buttons: {
          add: {label: "Add Controller Person ", className: "openAddControllerPerson"},
          delete : {label: "Delete Controller Person ", link: "delete", callBack: "deleteCallback"}
        }
      }
    include ../component/new/table

    -
      modalForm = {
        key: "openAddControllerPerson",
        title: "Create Controller Person",
        form: {
          url: "/rack/controllerperson",
          fields: [
              { name: "workgroups", label: "Workgroups", type: "select", placeholder: "Select Type", settings: {remote: {url: "/ReferenceObject/LOCATION_TYPE", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'displayName', value: [':value']}}}
          ] 
        },
        trigger: {
          className: "openAddControllerPerson"
        }
      }
    include ../component/new/modalForm
    -
      tableSettings = {
        key: "tableInformerPerson",
        title: "Informer Person",
        tooltipTitle: "List of person or unit who are informed of this location",
        collapse: true,
        filterable: true,
        columns: [
          { label: "PIC Name", name: "pic_name", link: "view", filter: {type: 'text'}},
          { label: "Contacts", name: "contacts", filter: {type: 'text'}},
          { label: "Workgroups", name: "workgroups", filter: {type: 'text'}},
        ],
        data: [],
        buttons: {
          add: {label: "Add Informer Person ", className: "openAddInformerPerson"},
          delete : {label: "Delete Informer Person ", link: "delete", callBack: "deleteCallback"}
        }
      }
    include ../component/new/table

    -
      modalForm = {
        key: "openAddInformerPerson",
        title: "Create Informer Person",
        form: {
          url: "/rack/informerperson",
          fields: [
              { name: "workgroups", label: "Workgroups", type: "select", placeholder: "Select Type", settings: {remote: {url: "/ReferenceObject/LOCATION_TYPE", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'displayName', value: [':value']}}}
          ] 
        },
        trigger: {
          className: "openAddInformerPerson"
        }
      }
    include ../component/new/modalForm

  .ui.bottom.attached.tab.segment(data-tab='tab7')
    -
      tableSettings = {
        key: "tableMaintenance",
        title: "Maintenance",
        tooltipTitle: "List of Maintenance that served by this device",
        collapse: true,
        filterable: true,
        columns: [
          {label: "Activity", name: "activity", link: "view", filter: {type: 'text'}},
          {label: "Description", name: "description", filter: {type: 'text'}},
          {label: "PIC", name: "pic", filter: {type: 'text'}},
          {label: "Status", name: "status", filter: {type: 'text'}},
          {label: "Start Date", name: "startDate", filter: {type: 'text'}},
          {label: "End Date", name: "endDate", filter: {type: 'text'}},
          {label: "#Attach", name: "attach", filter: {type: 'text'}},
        ],
        data: [],
        buttons: {
          add: {label: "Add Maintenance", className: "openAddMaintenance"},
          delete : {label: "Delete Maintenance", link: "delete", callBack: "deleteCallback"}
        }
      }
    include ../component/new/table
    -
      modalForm = {
        key: "openAddMaintenance",
        title: "Create Maintenance",
        form: {
          url: "/rack/maintenance",
          fields: [
              { name: 'maintenanceId', type: 'hidden', value: data._id},
              { name: "activity", label: "Activity", placeholder: "ex.  ", validate:'empty', required:true},
              { name: "description", label: "Description", placeholder: "ex. ", validate:'empty', required:true},
              { name: "pic", label: "PIC", placeholder: "ex. ", validate:'empty', required:true},
              { name: "status", label: "Status", type: "select", value: "", action:"", settings: {options: [{label: "ACTIVE", value: "ACTIVE"}, {label: "INACTIVE", value: "INACTIVE"}]}},
              { name: "startDate", label: "Start Date", type: "date", placeholder: "ex. ", validate:'empty', required:true},
              { name: "endDate", label: "End Date", type: "date", placeholder: "ex. ", validate:'empty', required:true},
              { name: "attach", label: "#Attach", placeholder: "ex. 5", validate:'empty', required:true}
          ]
        },
        trigger: {
          className: "openAddMaintenance"
        }
      }
    include ../component/new/modalForm