extends ../layout

block script
  script.
    function vlanAssignment(element, data) {
      if (confirm("Are you sure?") == true) {
        sendPut ({
          url: "!{data.links.assignVlan.url}",
          data: {reservationId: data.reservationId, deviceId: "!{data.device.id}"},
          done: function(){
            window.location.reload();
          }
        });
      }
    }

    function deleteVlanAssignment(element, data) {
      document.getElementById("vlanDeleteConfirmationPositiveButton").setAttribute("vlan", data.vlan);
      document.getElementById("vlanDeleteConfirmationNegativeButton").setAttribute("vlan", data.vlan);
      $("#vlanDeleteConfirmationForceModal").modal("show");
    }

    function deleteVlanAssignmentWithBackup(element) {
      sendDelete({
        url: "!{data.links.deleteVlanAssignment.url}",
        data: {deviceId: "!{data.device.id}", deviceName: "!{data.device.name}", portName: "!{data.name}", includeBackup: true, vlan: element.attr("vlan")},
        done: () => {
            window.location.reload();
        }
      });
    }

    function deleteVlanAssignmentWithoutBackup(element) {
      sendDelete({
        url: "!{data.links.deleteVlanAssignment.url}",
        data: {deviceName: "!{data.device.name}", portName: "!{data.name}", includeBackup: false, vlan: element.attr("vlan")},
        done: () => {
            window.location.reload();
        }
      });
    }

    function cancelVlanReservation(element, data){
      if (confirm("Are you sure?") == true) {
        sendDelete({
          url: "!{data.links.deleteVlanReservation.url}",
          data: {reservationId: data.reservationId, deviceId: "!{data.device.id}"},
          done: function(){
            window.location.reload();
          }
        });
      }
    }

    function removeVLANWithIP(element, data){
      if (confirm("Are you sure?") == true) {
        sendDelete({
          url: "!{data.links.deleteIpAssociation.url}",
          data: { deviceId: "!{data.device.id}", deviceName: "!{data.device.name}", vlanName: data.name },
          done: function(){
            window.location.reload();
          }
        });
      }
    }

    function beforeOpenAssociateVCIDModal(element, data){
      document.getElementById("associateVCIDSearchVlan").value = data.vlan;
      document.getElementById("associateVCIDSubmitVlan").value = data.name;
      $("#associateVCIDModal").modal("show");
    }

    function beforeOpenAssociateIpModal(element, data){
      document.getElementById("associateIPvlanName").value = data.name;
      $("#associateIPModal").modal("show");
    }

    function beforeOpenassociateVrfModal(element, data) {
      document.getElementById("associateVrfvlanName").value = data.name;
      $("#associateVrfModal").modal("show");
    }

    function vlanExtraRowRenderer(dataRow, columns) {
      let html = "";
      columns.forEach(function(column, index) {
        html += '<div class="ui basic label">'+ column.label +': <div class="detail">'+ (dataRow[column.name] ? dataRow[column.name] : 'N/A') +'</div></div>';
      });
      return html;
    }

    function deleteLinkedPort() {
      if (confirm("Are you sure?") == true) {
        sendDelete({
          url: "!{data.linkedPorts[0] ? data.linkedPorts[0].links.delete.url : ''}",
        });
      }
    }

    $(document).ready(function () {
      $(".detachPort").on("click", function(item, index){
        if (confirm("Are you sure?") == true) {
          sendDelete({
            url: "!{data.links.detach.url}",
          });
        }
      });
    });

block breadcrumb
  +breadcrumb(data.name, {text: 'Home', url: '/'}, {text: 'Device', url: '/device'}, {text: data.device.name, url: data.device.links.view.url})

block content
  -
    const actionTab  = {
      key: "editPortInfo",
      delete: {
        url: data.links.delete.url,
        label: "Delete this port",
      }
    }
  include ../component/removeButton

  -
    let detailView = {
      key: "portInfo",
      title: "Port Information",
      fields: [
        {name: "name", label: "Name", type: 'text', value: data.name},
        {name: "key", label: "Key", type: 'readonly', value: data.key},
      ],
      actions: {
        edit: {
          url: data.links.edit.url,
        }
      }
    }
  include ../component/new/fieldList

  -
    detailView = {
      key: "additionalInfo",
      title: "Additional Information",
      fields: [
        {name: "type", label: "Type", type: 'text', value: data.type},
        {name: "mtu", label: "MTU", type: 'text', value: data.mtu},
        {name: "capacity", label: "Capacity", type: 'text', value: data.capacity},
        {name: "status", label: "Status", type: 'select', value: data.status, settings: {options: [{label: "ACTIVE", value: "ACTIVE"}, {label: "INACTIVE", value: "INACTIVE"}]}},
        {name: "purpose", label: "Purpose", type: 'select', value: data.purpose, settings: {multiple: true, options: [{label: "TRUNK", value: "TRUNK"}, {label: "SUBSCRIBER", value: "SUBSCRIBER"}]}},
        {name: "createdAt", label: "Created At", type: 'readonly', value: data.createdAt},
        {name: "createdBy", label: "Created By", type: 'readonly', value: data.createdBy},
      ],
      actions: {
        edit: {
          url: data.links.edit.url,
        }
      }
    }
  include ../component/new/fieldList

  -
    detailView = {
      key: "deviceInfo",
      title: "Device Information",
      fields: [
        {label: "Device Name", type: 'readonly', value: data.device ? data.device.name : "", link: data.device ? data.device.links.view.url : ""},
        {label: "IP Address", type: 'readonly', value: data.device ? data.device.ipAddress : ""},
      ],
    }
  include ../component/new/fieldList

  if data.linkedPorts && data.linkedPorts.length > 1
    -
      tableSettings = {
        key: "portConnection",
        title: "Connected Port",
        columns: [
          {label: "Type", name: "relationName", type: 'relationship', type: 'relationship'},
          {label: "Name", name: "name", link: "view"},
          {label: "Label", name: "label"},
          {label: "Network Name", name: "networkName"}
        ],
        data: data.linkedPorts,
        buttons: {
          add: {label: "Add port connection", className: "openAddPortConnectionModalButton"},
          delete: {label: "Remove port connection", link: "delete"},
        }
      }
    include ../component/new/table
  else
    - 
      let linkedPort = data.linkedPorts ? data.linkedPorts[0] : {}
      detailView = {
        key: 'linkedPortInfo',
        title: 'Linked Port Information',
        fields: [
          {label: 'Name', type: 'readonly', value: linkedPort? linkedPort.name : '', link: linkedPort ? linkedPort.links.view.url : ''},
          {label: 'Label', type: 'readonly', value: linkedPort? linkedPort.label : ''},
          {label: 'Network Name', type: 'readonly', value: linkedPort? linkedPort.networkName : ''},
        ],
        actions: {
          custom: [
            { id: 'deleteLinkedPort', key: "Remove Linked Port", color: 'red', displayed: data.manufacture ? true: false, callback: "deleteLinkedPort", icon: "trash" },
            { class: 'openAddPortConnectionModalButton', key: "Update Linked Port", color: 'green', icon: "checkmark" },
          ]
        }
      }
    include ../component/new/fieldList

  -
    var labelSettings = {
      key: "serviceType",
      title: "Service Type",
      definition: { link: 'view', title: 'name', content: 'name' },
      data: data.serviceTypes,
      action: {
        remove: { link: 'deleteConnection', label: "Remove Service Type"},
        add: { label: "Add Service Type"},
      },
      modal : {
        key: "addServiceType",
        title: "Add Service Type",
        form: {
          url: data.links.addServiceType.url,
          fields: [
            { name: "deviceId", type: "hidden", value: data.device.id },
            { name: "portId", type: "hidden", value: data.id},
            { name: "serviceTypeId", label: "Service Type", type: "select", placeholder: "Select service type", settings: {remote: {url: "/serviceType/data", method: "GET", extraData: { "columns[0][name]": 'name', "columns[0][search][value]": " ", "length": 0, "order[0][column]": 0, "order[0][dir]": 'asc'}}, resultMapping: { dataIndex: 'data', label: 'name', value: [':id']}}},
          ],
          callback: {
            onSuccess: () => {
              window.location.reload();
            }
          },
        },
      }
    }
  include ../component/new/labels

  -
    tableSettings = {
      key: "vlanAssigned",
      title: "Sub Interface",
      filterable: true,
      columns: [
        {label: "Name", name: "name", link: "view", filter: {type: "text"}},
        {label: "Bandwidth", name: "bandwidth", filter: {type: "text"}},
        {label: "VLAN", name: "vlan", filter: {type: "text"}},
        {label: "VCID", name: "vcId", filter: {type: "text"}},
        {label: "VRF", name: "vrfName", link: "viewVrf", filter: {type: "text"}},
        {label: "Status", name: "status", filter: {type: "text"}, type:'status'},
      ],
      data: {
        url: data.links.vlanData.url,
        method: "GET",
        cached: true,
      },
      buttons: {
        details: { renderer: 'vlanExtraRowRenderer', link: "view", columns:
          [
            {label: "SVLAN", name: "sVlan"},
            {label: "CVLAN", name: "cVlan"},
            {label: "Reservation Id", name: "reservationId"},
            {label: "Reservation Valid From", name: "begin", type: "date"},
            {label: "Reservation Valid Until", name: "end", type: "date"},
            {label: "Network", name: "network"},
            {label: "Netmask", name: "netmask"},
            {label: "Gateway", name: "gateway"},
            {label: "Created By", name: "createdBy"},
          ]
        },
        add: {label: "Create VLAN Reservation", className: "openReserveVlanModal"},
        adhocSync: {label: "Sync VLAN with network", link: data.links.adhocSync},
        custom: {
          row: {
            selector: 'status',
            selection: {
              reserved: [
                {name: 'reservedassignVLANReservation', label: "Assign Reserved VLAN", callback: "vlanAssignment", icon: 'check'},
                {name: "reservedassociateVLANWithVCID", label: "Associate VLAN with VCID", callback: "beforeOpenAssociateVCIDModal", icon: "check"},
                {name: "reservedassociateVLANWithIP", label: "Associate VLAN with IP", callback: "beforeOpenAssociateIpModal", icon: "check"},
                {name: "reservedremoveVLANWithIP", label: "Remove VLAN with IP association", link: "deleteAssociateIP", callback: "removeVLANWithIP", icon: "delete"},
                {name: 'reservedcancelVLANReservation', label: "Cancel VLAN Reservation", link: "cancelVlanReservation", callback: "cancelVlanReservation", icon: 'delete'},
              ],
              default: [
                {name: "assignedassociateVLANWithVCID", label: "Associate VLAN with VCID", callback: "beforeOpenAssociateVCIDModal", icon: "check"},
                {name: "assignedassociateVLANWithVRF", label: "Associate VLAN with VRF", callback: "beforeOpenassociateVrfModal", icon: "check"},
                {name: "assignedassociateVLANWithIP", label: "Associate VLAN with IP", callback: "beforeOpenAssociateIpModal", icon: "check"},
                {name: "assignedremoveVLANWithIP", label: "Remove VLAN with IP association", link: "deleteAssociateIP", callback: "removeVLANWithIP", icon: "delete"},
                {name: "assigneddeleteVLANAssignment", label: "Delete VLAN Assignment", callback: "deleteVlanAssignment",  icon: "delete"},
              ]
            }
          }
        }
      }
    }
  include ../component/new/table

  -
    var modalForm = {
      key: "addPortConnection",
      title: "New Port Connection",
      trigger: {
        className: "openAddPortConnectionModalButton",
      },
      form: {
        url: data.links.createPortRelation.url,
        fields: [
          { name: "sourcePortId", type: "hidden", value: data.id },
          { name: "targetPortId", label: "Target Port", type: "select", placeholder: "Please select port name" , settings: {remote: {url: data.links.searchConnectedDevicePort.url, method: "GET", extraData: { "deviceName": data.device.name }}, resultMapping: { label: 'label', value: 'id' }}},
        ],
      }
    }
  include ../component/new/modalForm

  -
    var modalFormSettings = {
      key: "checkVlanFromNetwork",
      title: "Create VLAN Reservation",
      trigger: {
        className: "openReserveVlanModal"
      },
      search: {
        caption: "Check VLAN number",
        form: {
          url: "/vlan/checkAvailability",
          fields: [
            { name: "deviceName", type: "hidden", value: data.device.name},
            { name: "portName", type: "hidden", value: data.name},
            { label: "Begin", name: "begin", info: "ex. 1000" },
            { label: "End", name: "end", info: "ex. 3000" },
            { label: "Quantity", name: "quantity", info: "ex. 10" },
          ]
        }
      },
      returned: {
        dataIndex: null,
        names: ["vlan"],
        labelFormat: [":vlan"],
      },
      result: {
        caption: "Available VLAN number",
        message: {
          blank: "Please search with criteria above",
          notFound: "VLAN is not available."
        }
      },
      submitForm: {
        caption: "Use recommended VLAN by following step (1) & (2), or fill manually",
        url: data.links.createVlan.url,
        fields: [
            { name: "deviceId", type: "hidden", value: data.device.id},
            { name: "deviceName", type: "hidden", value: data.device.name},
            { name: "portName", label: "portName", type: "hidden", value: data.name},
            { name: "vlanId", label: "VLAN ID", placeholder: "ex. 700", valueFormat: [":vlan"]},
            { name: "cVlanId", label: "CVLAN ID", placeholder: "ex. 700"},
            { name: "sVlanId", label: "SVLAN ID", placeholder: "ex. 700"},
            { name: "bandwidth", label: "Bandwidth", placeholder: "ex. 1000"},
            { name: "duration", label: "Duration (in days)", placeholder: "ex. 1"},
            { name: "reservationId", label: "Reservation ID", placeholder: "ex. Gi1/9.331 Reservation (leave it blank to autogenerate)"},
            { name: "reserveBackup", label: "Reserve Backup", type: "checkbox"},
        ],
      }
    }
  include ../component/new/modalFormWithReferenceValue

  -
    var modalFormSettings = {
      key: "associateVCID",
      title: "Associate VLAN with VCID",
      search: {
        caption: "Find suggested VCID by searching with below parameter and select it from step (2) OR input it directly in step (3)",
        form: {
          url: "/vlan/generateVCID",
          fields: [
            { label: "Region Name", name: "regionName", info: "ex. REG-1" },
            { label: "Service Type", name: "svcType", type: "select", options:[{label: "ASTINET", value: "ASTINET"}, {label: "VPN", value: "VPN"}, {label: "TRANSIT", value: "TRANSIT"}]},
            { name: "vlan", type: "hidden", id: "associateVCIDSearchVlan"},
          ]
        }
      },
      returned: {
        dataIndex: null,
        names: ["vcId"],
        labelFormat: [":vcId"],
      },
      result: {
        caption: "Select VCID below",
        message: {
          blank: "Please generete VCID",
          notFound: "VCID is not available."
        }
      },
      submitForm: {
        caption: "Search VCID by following step (1) (2) or fill manually",
        url: data.links.associateVcid.url,
        method: data.links.associateVcid.method,
        fields: [
          { name: "deviceId", type: "hidden", value: data.device.id},
          { name: "deviceName", type: "hidden", value: data.device.name},
          { name: "vlanName", type: "hidden", id: "associateVCIDSubmitVlan"},
          { name: "vcId", label: "VCID", valueFormat: [":vcId"]},
        ],
      }
    }
  include ../component/new/modalFormWithReferenceValue

  -
    modalForm = {
      key: "associateIP",
      title: "Associate VLAN with IP",
      form: {
        url: data.links.associateIp.url,
        method: data.links.associateIp.method,
        fields: [
            { name: "deviceId", type: "hidden", value: data.device.id},
            { name: "deviceName", type: "hidden", value: data.device.name},
            { name: "vlanName", label: "vlanName", type: "hidden", id: "associateIPvlanName"},
            { name: "network", label: "Network", placeholder: "ex. 172.16.105.28"},
            { name: "netmask", label: "Netmask", placeholder: "ex. 30"},
            { name: "gateway", label: "Gateway", placeholder: "ex. 172.16.105.29"},
        ],
      },
    }
  include ../component/new/modalForm

  -
    modalForm = {
      key: "associateVrf",
      title: "Associate VLAN with VRF",
      form: {
        url: data.links.associateVrf.url,
        method: data.links.associateVrf.method,
        fields: [
            { name: "deviceId", type: "hidden", value: data.device.id },
            { name: "deviceName", type: "hidden", value: data.device.name },
            { name: "vlanName", label: "vlanName", type: "hidden", id: "associateVrfvlanName"},
            { name: "vrfName", label: "VRF Name", type: "select", settings: data.links.searchVrf},
        ],
      },
    }
  include ../component/new/modalForm

  -
    const forceModal = {
      key: "vlanDeleteConfirmation",
      title: "VLAN Assignment Cancelation",
      message: "Also remove VLAN assignment on the backup port?",
      negative: {
        id: 'vlanDeleteConfirmationNegativeButton',
        label: "No",
        callback: "deleteVlanAssignmentWithoutBackup",
      },
      positive: {
        id: 'vlanDeleteConfirmationPositiveButton',
        label: "Yes",
        callback: "deleteVlanAssignmentWithBackup"
      },
    }
  include ../component/forceModal

  each item in data.others
    div
      div= JSON.stringify(item)
