extends ../layout

block script
  script.
    function openDelete(elmnt, data){
      if (confirm("Are you sure want to Delete Module "+data.device+" ?") == true) {
        var device = btoa(data.device);
        var module = btoa(data.name);
        sendPut({
          url: "!{'/physicaldevice/"+device+"/"+module+"'}",
        });
      }
    }
    $('.menu .item').tab()

block breadcrumb
  +breadcrumb(data.name, {text: 'Home', url: '/'}, {text: 'Distribution Frame', url: '/physicaldevice'})

block content
  div(style="float: left")
    form.ui.form(id="renderForm", action="/render/PhysicalDevice/" + data.mapName, method="GET" target="_blank")
      button.ui.tiny.left.labeled.blue.icon.button(id="renderBtn" data-tooltip="render to Map") <i class="eye icon"></i> Map
  
  -
    const actionTab  = {
      key: "editPhysicalDeviceInfo",
      delete: {
        url: links.delete.url,
        info: "Delete this PhysicalDevice",
        label: "Delete this PhysicalDevice",
      }
    }
  div(style="float: right")
    button.ui.tiny.left.labeled.red.icon.button(id=actionTab.key+"DeleteButton" data-tooltip=actionTab.delete.label) <i class="remove icon"></i> Delete
  div(style="clear: both; height: 50px")

  script.
    $(document).ready(function () {
      $('#!{actionTab.key}DeleteButton').on("click", function (event) {
        if (confirm("Are you sure want to Delete !{data.name}, this action can't be Undo?") == true) {
          sendDelete({
            url: "!{actionTab.delete.url}",
          });
        }
      });
    });

  -
    let detailView = {
      key: "physicaldeviceInfo",
      title: "PhysicalDevice Information",
      fields: [
        {name: "name", label: "Name", type: 'text', value: data.name},
        {name: "key", label: "Key", type: 'readonly', value: data.key},
        {name: "label", label: "Label", type: 'text', value: data.label},
        {name: "specification", label: "Specification", value: data.specification, type: "select", settings: {remote: {url: '/info/spesification'}, resultMapping: {label: "name", value: 'name'}}},
        {name: "source", label: "Source", type: 'text', value: data.source},
        {name: "type", label: "Type", type: 'text', value: data.type, type: "select", settings: {remote: {url: '/info/pysicaldevicetype'}, resultMapping: {label: "name", value: 'name'}}},
        {name: "areacode", label: "Area Code", type: 'text', value: data.areacode},
        {name: "networkLocation", label: "Network Location", type: 'search', value: data.networkLocation, 
        settings: {
              remote : {
                url: "/info/locn",
                query: "locnQuery",
              },
              resultMapping: { dataIndex: '', label: 'name', value: 'name' },
              minChar: 3
            }},
        {name: "status", label: "Status", type: 'text', value: data.status, type: "select", settings: {remote: {url: '/info/statusPhysicalDevice'}, resultMapping: {label: "name",value:"name"}}},
      ],
      actions: {
        edit: {
          url: links.edit.url,
        }
      }
    }
  include ../component/new/fieldList

  -
    detailView = {
      key: "additionalInfo",
      title: "Additional Information",
      fields: [
        {name: "legacy_id", label: "Legacy Id", type: 'readonly', value: data.legacy_id},
        {name: "createdBy", label: "Created By", type: 'readonly', value: data.createdBy},
        {name: "createdAt", label: "Created At", type: 'date', value: data.createdAt},
        {name: "modifiedBy", label: "Modified By", type: 'readonly', value: data.modifiedBy},
        {name: "modifiedAt", label: "Modified At", type: 'readonly', value: data.modifiedAt},
        {name: "ownedBy", label: "Owned By", type: 'readonly', value: data.ownedBy},
        {name: "managedBy", label: "Managed By", type: 'readonly', value: data.managedBy},
      ],
      actions: {
        edit: {
          url: links.edit.url,
        }
      }
    }
  include ../component/new/fieldList

  -
    detailView = {
      key: "assetInfo",
      title: "Asset Information",
      fields: [
        {name: "projectId", label: "Project Id", type: 'readonly', value: data.projectId},
        {name: "contractId", label: "Contract Id", type: 'readonly', value: data.contractId},
      ],
      actions: {
        edit: {
          url: links.edit.url,
        }
      }
    }
  include ../component/new/fieldList

  .ui.top.attached.tabular.menu
    a.item.active(data-tab='tab1') Details
    a.item(data-tab='tab2') Location
    a.item(data-tab='tab3') Boundary
    a.item(data-tab='tab4') Connection
    a.item(data-tab='tab5') Service
    a.item(data-tab='tab6') Attachment
    a.item(data-tab='tab7') Asset
    a.item(data-tab='tab8') Contact
    a.item(data-tab='tab9') Event
  .ui.bottom.attached.tab.segment.active(data-tab='tab1')
    -
      detailView = {
        key: "spesification",
        title: "Specification",
        tooltipTitle: "Device Specification Details",
        collapse: true,
        fields: [
          {name: "name", label: "Name", type: 'readonly', value: ""}
        ]
      }
    include ../component/new/fieldList
    -
      var tableSettings = {
        key: "module",
        title: "Module",
        filterable: true,
        columns: [
          { name: "name", label: "Name", link: "view", filter: { type: 'text' } },
          { name: "networkRole", label: "Network Role", filter: { type: 'text' } },
          { name: "status", label: "Status", filter: { type: 'text' },type: 'status' }
        ],
        data: data.module,
        buttons: {
          delete: {label: "Delete Module", callback: "openDelete"},
          add: {label: "New Module", className: "openAddModuleModal"},
        }
      }
    include ../component/new/table
  .ui.bottom.attached.tab.segment(data-tab='tab2')
    -
      let mapSettings = {
        key : "mapLocation",
        objectType : 'location',
        objectTitle : "Location",
        title: "Map Location",
        data : [],
        function : {
          edit : {
            url : "/mapHandler/"
          },
          delete : {
            url : "/mapHandler/"
          },
          add : {
            className : "addLocationMap",
          }
        }
      }
    include ../component/new/map
  .ui.bottom.attached.tab.segment(data-tab='tab3')
    -
      var tableSettings = {
        key: "serviceArea",
        title: "Service Area",
        filterable: true,
        columns: [
          { name: "name", label: "Name", link: "view", filter: { type: 'text' } }
        ],
        data: [],
        buttons: {
          add: {label: "New", className: "new"},
        }
      }
    include ../component/new/table
  .ui.bottom.attached.tab.segment(data-tab='tab4')
    -
      var tableSettings = {
        key: "connectedDevice",
        tooltipTitle: "List of connected device (face to face connection)",
        title: "Connected Device",
        filterable: true,
        columns: [
          { name: "name", label: "Name", link: "view", filter: { type: 'text' } }
        ],
        data: [],
        buttons: {
          add: {label: "New", className: "new"},
        }
      }
    include ../component/new/table
    -
      var tableSettings = {
        key: "indirectlyConnectedDevice",
        title: "Indirecly Connected Device",
        tooltipTitle: "List of indirecly connected device (logical connection)",
        filterable: true,
        columns: [
          { name: "name", label: "Name", link: "view", filter: { type: 'text' } }
        ],
        data: [],
        buttons: {
          add: {label: "New", className: "new"},
        }
      }
    include ../component/new/table
    -
      var tableSettings = {
        key: "mappedDevice",
        title: "Mapped Device",
        tooltipTitle: "List of device that planned to be served by this device",
        filterable: true,
        columns: [
          { name: "name", label: "Name", link: "view", filter: { type: 'text' } }
        ],
        data: [],
        buttons: {
          add: {label: "New", className: "new"},
        }
      }
    include ../component/new/table
  .ui.bottom.attached.tab.segment(data-tab='tab5')
    -
      var tableSettings = {
        key: "customer",
        title: "Customer",
        tooltipTitle: "List of customer that served by this device",
        filterable: true,
        columns: [
          { name: "name", label: "Name", link: "view", filter: { type: 'text' } }
        ],
        data: [],
        buttons: {
          add: {label: "New", className: "new"},
        }
      }
    include ../component/new/table
    -
      var tableSettings = {
        key: "service",
        title: "List of service that serverd",
        tooltipTitle: "List of device that planned to be served by this device",
        filterable: true,
        columns: [
          { name: "name", label: "Name", link: "view", filter: { type: 'text' } }
        ],
        data: [],
        buttons: {
          add: {label: "New", className: "new"},
        }
      }
    include ../component/new/table
    -
      var tableSettings = {
        key: "reservation",
        title: "Reservation",
        tooltipTitle: "List of reservation that served by this device",
        filterable: true,
        columns: [
          { name: "name", label: "Name", link: "view", filter: { type: 'text' } }
        ],
        data: [],
        buttons: {
          add: {label: "New", className: "new"},
        }
      }
    include ../component/new/table
  .ui.bottom.attached.tab.segment(data-tab='tab6')
    -
      let photosSettings = {
        title: "Photo Location",
        class : "openAddPhoto",
        key : "photoLocation",
        data : [
          {
            uid: "123321",
            name : "Gedung IDC Cimahi",
            image : "/images/avatar/steve.jpg",
            date : "11-08-2020",
            button : {
              delete : "deletePhoto"
            }
          },
          {
            uid: "123321",
            name : "Ruang IDC Cimahi",
            image : "/images/avatar/steve.jpg",
            date : "11-08-2020",
            button : {
              delete : "deletePhoto"
            }
          },
          {
            uid: "123321",
            name : "Parkiran IDC Cimahi",
            image : "/images/avatar/steve.jpg",
            date : "11-08-2020",
            button : {
              delete : "deletePhoto"
            }
          }
        ]
      }
    include ../component/new/photos
    -
      tableSettings = {
        key: "video",
        title: "Video",
        tooltipTitle: "Associated video of this device",
        collapse: true,
        columns: [
          { name: "name", label: "Name", link: "view", filter: { type: 'text' } }
        ],
        data: [],
        buttons: {
          add: {label: "New", className: "new"},
        }
      }
    include ../component/new/table
    -
      tableSettings = {
        key: "document",
        title: "Document",
        tooltipTitle: "List of document about this device",
        collapse: true,
        columns: [
          { name: "name", label: "Name", link: "view", filter: { type: 'text' } }
        ],
        data: [],
        buttons: {
          add: {label: "New", className: "new"},
        }
      }
    include ../component/new/table
    -
      tableSettings = {
        key: "virtualReality",
        title: "Virtual Reality",
        tooltipTitle: "List of virtual reality about this device",
        collapse: true,
        columns: [
          { name: "name", label: "Name", link: "view", filter: { type: 'text' } }
        ],
        data: [],
        buttons: {
          add: {label: "New", className: "new"},
        }
      }
    include ../component/new/table
  .ui.bottom.attached.tab.segment(data-tab='tab7')
    -
      tableSettings = {
        key: "hardware",
        title: "Hardware",
        tooltipTitle: "Associated hardware that belong to this device",
        collapse: true,
        columns: [
          { name: "name", label: "Name", link: "view", filter: { type: 'text' } }
        ],
        data: [],
        buttons: {
          add: {label: "New", className: "new"},
        }
      }
    include ../component/new/table
    -
      tableSettings = {
        key: "capex",
        title: "Capex",
        tooltipTitle: "Associated CAPEX (Capital Expend) that belong to this device",
        collapse: true,
        columns: [
          { name: "name", label: "Name", link: "view", filter: { type: 'text' } }
        ],
        data: [],
        buttons: {
          add: {label: "New", className: "new"},
        }
      }
    include ../component/new/table
    -
      tableSettings = {
        key: "opex",
        title: "Opex",
        tooltipTitle: "Associated OPEX (Operational Expend) that belong to this device",
        collapse: true,
        columns: [
          { name: "name", label: "Name", link: "view", filter: { type: 'text' } }
        ],
        data: [],
        buttons: {
          add: {label: "New", className: "new"},
        }
      }
    include ../component/new/table
  .ui.bottom.attached.tab.segment(data-tab='tab8')
    -
      tableSettings = {
        key: "responsible",
        title: "Responsible",
        tooltipTitle: "List of person or unit who resposible to this device",
        collapse: true,
        columns: [
          { name: "name", label: "Name", link: "view", filter: { type: 'text' } }
        ],
        data: [],
        buttons: {
          add: {label: "New", className: "new"},
        }
      }
    include ../component/new/table
    -
      tableSettings = {
        key: "accountable",
        title: "Accountable",
        tooltipTitle: "List of person or unit who accountable to this device",
        collapse: true,
        columns: [
          { name: "name", label: "Name", link: "view", filter: { type: 'text' } }
        ],
        data: [],
        buttons: {
          add: {label: "New", className: "new"},
        }
      }
    include ../component/new/table
    -
      tableSettings = {
        key: "controlled",
        title: "Controlled",
        tooltipTitle: "List of person or unit who control to this device",
        collapse: true,
       columns: [
          { name: "name", label: "Name", link: "view", filter: { type: 'text' } }
        ],
        data: [],
        buttons: {
          add: {label: "New", className: "new"},
        }
      }
    include ../component/new/table
    -
      tableSettings = {
        key: "informed",
        title: "Informaed",
        tooltipTitle: "List of person or unit who informed of this device",
        collapse: true,
        columns: [
          { name: "name", label: "Name", link: "view", filter: { type: 'text' } }
        ],
        data: [],
        buttons: {
          add: {label: "New", className: "new"},
        }
      }
    include ../component/new/table
  .ui.bottom.attached.tab.segment(data-tab='tab9')
    -
      tableSettings = {
        key: "maintenance",
        title: "Maintenance",
        tooltipTitle: "List of maintenance event belong to this device",
        collapse: true,
       columns: [
          { name: "name", label: "Name", link: "view", filter: { type: 'text' } }
        ],
        data: [],
        buttons: {
          add: {label: "New", className: "new"},
        }
      }
    include ../component/new/table
    -
      tableSettings = {
        key: "incident",
        title: "Incident",
        tooltipTitle: "List of incident event belong to this device",
        collapse: true,
        columns: [
          { name: "name", label: "Name", link: "view", filter: { type: 'text' } }
        ],
        data: [],
        buttons: {
          add: {label: "New", className: "new"},
        }
      }
    include ../component/new/table
    -
      tableSettings = {
        key: "fault",
        title: "Fault",
        tooltipTitle: "List of fault event belong to this device",
        collapse: true,
        columns: [
          { name: "name", label: "Name", link: "view", filter: { type: 'text' } }
        ],
        data: [],
        buttons: {
          add: {label: "New", className: "new"},
        }
      }
    include ../component/new/table
    -
      tableSettings = {
        key: "sales",
        title: "Sales",
        tooltipTitle: "List of sales event belong to this device",
        collapse: true,
        columns: [
          { name: "name", label: "Name", link: "view", filter: { type: 'text' } }
        ],
        data: [],
        buttons: {
          add: {label: "New", className: "new"},
        }
      }
    include ../component/new/table


  

  -
    const modalForm = {
      key: "openAddModuleModal",
      title: "New Module",
      trigger: {
        className: "openAddModuleModal"
      },
      form: {
        url: "/physicaldevice/module",
        fields: [
          {name: "module", label: "Name", type: 'text', placeholder: "ex. PANEL01", 
          rules:[{type:'empty', prompt:'{name} must have a value'}], required:true},
          {name: "template", label: "Template Module", type: 'text', type: "select", placeholder: "ex. FTTX_Splitter_1to8", 
          rules:[{type:'empty', prompt:'{name} must have a value'}], required:true,
          settings: {remote: {url: '/info/physicaldevice'}, resultMapping: {label: "name",value:"name"}}},
          {name: "odp", label: "Device ODP", type: 'hidden', value: data.name},
          {name: "phyid", label: "Physical id", type: 'hidden', value: data.id},
        ],
        buttonLabel: "Create",
      },
    }
  include ../component/new/modalForm

  script.
    $("#renderBtn").on("click", function (event) {
      document.getElementById('renderForm').submit();
    });