extends ../layout

block breadcrumb
  +breadcrumb(data.name, {text: 'Home', url: '/'}, {text: 'Space', url: '/space'})

block script
  script.
    function deleteCallback(element, data) {
      if (confirm("Are you sure?") == true) {
        sendDelete ({
          url: data.links[element.getAttribute("link")].url,
          done: function(){
            window.location.reload();
          }
        });
      }
    }

block content
  -
    const actionTab  = {
      key: 'deleteSpace',
      delete: {
        url: data.links.delete.url,
        info: 'Delete this space',
        label: 'Delete this space',
      }
    }
  include ../component/removeButton

  -
    let detailView = {
      key: 'editSpace',
      title: 'Space Information',
      fields: [
        {name: 'type', label: 'Type', type: 'select', value: data.type, settings: {remote: {url: "/referenceObject/SPACE_TYPE", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'value', value: [':value']}}},
        {name: 'name', label: 'Name', type: 'text', value: data.name},
        {name: 'label', label: 'Label', type: 'text', value: data.label},
        {name: 'uid', label: 'UID', type: 'text', value: data.uid},
        {name: 'width', label: 'Width (m)', type: 'text', value: data.width},
        {name: 'length', label: 'Length (m)', type: 'text', value: data.length},
        {name: 'purpose', label: 'Purpose', type: 'select', value: data.purpose, settings: {remote: {url: "/referenceObject/SPACE_PURPOSE", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'value', value: [':value']}}},
        {name: 'status', label: 'Status', type: 'select', value: data.status, action:data.links.patch, settings: {options: [{label: "ACTIVE", value: "ACTIVE"}, {label: "INACTIVE", value: "INACTIVE"}]}},
      ],
      actions: {
        edit: {
          url: data.links.edit.url,
          label: 'Edit space information',
        }
      }
    }
  include ../component/new/fieldList

  -
    tableSettings = {
      key: "tableDevice",
      title: "Device",
      filterable: true,
      columns: [
        {label: "Type", name: "type", filter: {type: 'text'}},
        {label: "Name", name: "name", link: "view", filter: {type: 'text'}},
        {label: "Label", name: "label", filter: {type: 'text'}},
        {label: "Purpose", name: "purpose", filter: {type: 'text'}},
        {label: "Created At", name: "createdAt", type: 'date'},
        {label: "Created By", name: "createdBy", filter: {type: 'text'}},
      ],
      data: data.relationshipData,
      buttons: {
        //- add: {label: "Add Device", className: "openAddDevice"},
        //- delete: {label: "Remove Devices from this Room", link: "delete", callback: "deleteCallback"}
      }
    }
  include ../component/new/table
  
  //- -
  //-   modalForm = {
  //-     key: "openAddDevice",
  //-     title: "Create Device",
  //-     form: {
  //-       url: "/space",
  //-       fields: [
  //-           { name: "roomId", type: "hidden", value: data._id },
  //-           //- { name: "type", label: "Type", validate:'empty', required:true, type: "select", settings: {remote: {url: "/referenceObject/SPACE_TYPE", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'value', value: [':value']}}},
  //-           { name: "type", label: "Type", validate:'empty', required:true, type: "select", settings: {remote: {url: "/referenceObject/FLOOR_TYPE", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'value', value: [':value']}}},
  //-           { name: "name", label: "Name", placeholder: "ex. Device 1", validate:'empty', required:true},
  //-           { name: "label", label: "Label (m)", placeholder: "ex. Lantai 1", validate:'empty', required:true},
  //-           { name: "width", label: "Width  (m)", placeholder: "ex. 10", validate:'empty', required:true},
  //-           { name: "length", label: "Length (m)", placeholder: "ex. 10", validate:'empty', required:true},
  //-           { name: "purpose", label: "Purpose", validate:'empty', required:true, type: "select", settings: {remote: {url: "/referenceObject/SPACE_PURPOSE", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'value', value: [':value']}}},
  //-       ]
  //-     },
  //-     trigger: {
  //-       className: "openAddDevice"
  //-     }
  //-   }
  //- include ../component/new/modalForm