#confirm.ui.mini.modal
  .header Delete Object
  .content
    p
      | Are you sure?
  .actions
    .ui.red.cancel.button
      i.remove.icon
      | No
    .ui.green.ok.button
      i.checkmark.icon
      | Yes

#createForm.ui.small.modal
  .header Create new object
  .content
    .ui.mini.form
      .field
        label Layer Type
        .ui.selection.dropdown
          input#layerType(type='hidden')
          i.dropdown.icon
          .default.text Layer type
          .menu
            each val, index in config.layers
              .item(data-value=index)= val.label
      .field
        label WKT
        textarea#createObjectWKT(readonly, rows=3)
        input#createObjectGeoJSON(readonly, type='hidden')

      #createFormContainer
      .ui.basic.compact.clearing.segment

#editForm.ui.small.modal
  .header Edit object
  .content
    .ui.mini.form
      .field
        label WKT
        textarea#editObjectWKT(readonly, rows=3)
        input#editObjectGeoJSON(readonly, type='hidden')

      #editFormContainer
      .ui.basic.compact.clearing.segment
