extends ../layout

block breadcrumb
  +breadcrumb('Room', {text: 'Home', url: '/'})

block content
  -
    const tableSettings = {
      key: "Room",
      columns: dataStructure,
      filterable: true,
      data: {
        url: links.data.url,
        method: links.data.method,
        cached: true
      },
      buttons: {
        add: {label: "Create a new Room", className: "openAddModal"},
      }
    }
  include ../component/new/table

  -
    const modalForm = {
      key: "createRoom",
      title: "Create Room",
      form: {
        url: "/layout2d/room",
        fields: [
          { name: 'locationName', label: 'Location', type: 'search', placeholder: 'Please type Location name', required:true, validate:'empty',
            settings: {
              remote : {
                url: '/location/data',
                query: 'columns[0][search][value]',
                extraData: { 'columns[0][name]': 'name',  'length': 20, 'order[0][column]': 0, 'order[0][dir]': 'asc'}
              },
              resultMapping: { dataIndex: 'data', label: 'name', value: [':name'] },
              minChar: 3
            }
          },
            { name: 'buildingName', label: 'Building', type: 'search', placeholder: 'Please type Building name', required:true, validate:'empty',
            settings: {
              remote : {
                url: '/location/{{locationName}}/building',
                urlParam: {locationName: '$("#_locationName_ > input[name=locationName]").val()'},
                query: 'columns[0][search][value]',
                extraData: { 'columns[0][name]': 'name',  'length': 20, 'order[0][column]': 0, 'order[0][dir]': 'asc'}
              },
              resultMapping: { dataIndex: 'data', label: 'name', value: [':_id'] },
              minChar: 3
            }
          },
          { name: 'floorId', label: 'Floor', type: 'search', placeholder: 'Please type Floor name', required:true, validate:'empty',
            settings: {
              remote : {
                url: '/building/{{buildingName}}/floor',
                urlParam: {buildingName: '$("#_buildingName_ > input[name=buildingName]").val()'},
                query: 'columns[0][search][value]',
                extraData: { 'columns[0][_id]': 'name',  'length': 20, 'order[0][column]': 0, 'order[0][dir]': 'asc'}
              },
              resultMapping: { dataIndex: 'data', label: 'name', value: [':_id'] },
              minChar: 1
            }
          },
            { name: "type", label: "Type", type: "select", placeholder: "ex. Ruang Data Center", validate:'empty', required:true, settings: {remote: {url: "/ReferenceObject/ROOM_TYPE", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'displayName', value: [':value']}}},
            { name: "name", label: "Name", placeholder: "ex. IT HALL C4", validate:'empty', required:true},
            { name: "label", label: "Label", placeholder: "ex. Ruang IT Hall Gedung C Lantai 4", validate:'empty', required:true},
            { name: "height", label: "Height (m)", placeholder: "ex. 10", validate:'empty', required:true},
            { name: "width", label: "Width (m)", placeholder: "ex. 10", validate:'empty', required:true},
            { name: "lengths", label: "Length (m)", placeholder: "ex. 10", validate:'empty', required:true},
            { name: "squereMeter", label: "Square Meter (m²)", placeholder: "ex. 10", validate:'empty', required:true},
            { name: "spaceLength", label: "Space Length (cm)", placeholder: "ex. 10", validate:'empty', required:true},
            { name: "spaceWidth", label: "Space Width (cm)", placeholder: "ex. 10", validate:'empty', required:true},
            { name: "totalRow", label: "Total Row", placeholder: "ex. 10", validate:'empty', required:true},
            { name: "totalColumn", label: "Total Column", placeholder: "ex. 10", validate:'empty', required:true},
            { name: "rowDirection", label: "Row Direction", type: "select", validate:'empty', required:true, 
            settings: {
              options: [
                {label: "- Select Row Direction -", value: ""}, 
                {label: "NORTH-SOUTH", value: "N-S"},
                {label: "SOUTH-NORTH", value: "S-N"},
                {label: "EAST-WEST", value: "E-W"},
                {label: "WEST-EAST", value: "W-E"},
                {label: "NORT EAST-SOUTH WEST", value: "NE-SW"},
                {label: "SOUTH WEST-NORTH EAST", value: "SW-NE"},
                {label: "NORTH WEST-SOUTH EAST", value: "NW-SE"},
                {label: "SOUTH EAST-NORTH WEST", value: "SE-NW"}
                ]
              }
            },       
        ]
      },
      trigger: {
        className: "openAddModal"
      }
    }
  include ../component/new/modalForm