.ui.form(id=detailView.key + 'Form')
  each field, index in detailView.fields
    if field.type && field.type !== 'hidden'
      div(class='inline fields '+ detailView.key + 'Field', style={'align-items': 'start'})
        .four.wide.field
          label !{field.label}
            if field.type !== 'readonly'
              i(style='margin-left: 10px' class='orange circular inverted pencil alternate icon notVisible pointing ' + (field.editable? 'editable ':'') + detailView.key +'Marker'+ field.type data-form-name=field.name)
        .twelve.wide.field
          if field.link
            if field.type === 'list'
              button.ui.tiny.icon.button.notVisible
                i.checkmark.icon
              if field.value && field.value.length > 0
                each item in field.value
                  a(href=item.links[field.link].url)= item[field.valueKey]
            if field.type === 'object' && field.value[0]
              button.ui.tiny.icon.button.notVisible
                i.checkmark.icon
              a(href=field.value[0].links[field.link].url)= field.value[0][field.valueKey]
            else
              .ui.tiny.left.action.transparent.input
                button.ui.tiny.icon.button.notVisible
                  i.checkmark.icon
                a(href=field.link)= field.value
          else
            .ui.tiny.left.action.transparent.input
              if(field.type === 'readonly')
                button.ui.tiny.icon.button.notVisible
                  i.checkmark.icon
                if field.multiline
                  .ui.item !{field.value}
                else
                  input(type='text' readonly='' placeholder='Empty' value=field.value data-content='non-editable value')
              else if field.type === 'select' && field.settings && field.settings.multiple
                button.ui.tiny.icon.button.notVisible
                  i.checkmark.icon
                if field.value && field.value.length > 0
                  each item in field.value
                    .ui.basic.label
                      span= item
                else
                  input(type='text' readonly='' placeholder='Empty')
              else
                button(id=detailView.key +'SaveButton'+ field.name class='ui tiny icon button notVisible '+ detailView.key +'SaveButton' data-form-name=field.name data-tooltip='Save') <i class='checkmark icon'></i>
                input(id=detailView.key +'Input'+ field.name class=detailView.key + 'Input'+field.type name=field.name type='text' readonly='' placeholder='Empty' value=field.value)
      .ui.divider

if detailView.actions
  div(style='float: right')
    if detailView.actions.custom
      each customButton in detailView.actions.custom
        button(id=customButton.id class='ui tiny left labeled '+ customButton.color +' icon button '+customButton.class data-tooltip=customButton.label url=(customButton.url ? customButton.url : '')) <i class='!{customButton.icon} icon'></i> !{customButton.key}
