div.ui.small.basic.test.modal.transition.confirmationModal(id= confirmationModal.key + "ConfirmationModal")
    div.ui.icon.header
      i(class="icon "+ (confirmationModal.icon ? confirmationModal.icon : "warning sign"))
      span= confirmationModal.title
    div.content
      p= confirmationModal.message
    div.actions
      for button in confirmationModal.buttons
        div(class="ui inverted button "+ (button.color ? button.color : "") +" "+ (button.type ? button.type : "") id=(button.id ? button.id : confirmationModal.key + "ConfirmationButton"))
          i(class="checkmark icon "+ (button.icon ? button.icon : ""))
          span= button.label

-
  var modalTrigger = "";
  if (confirmationModal.trigger && confirmationModal.trigger.className)
    modalTrigger = '$("body").on("click", ".'+ confirmationModal.trigger.className+'", function(){' +
      '$("#'+ confirmationModal.key +'ForceModal").modal("show")' +
    '});';

script.
  $(document).ready(function () {
    $('#!{confirmationModal.key}ConfirmationModal')
      .modal({
        closable: true,
      });

    $('#!{confirmationModal.key}ConfirmationModal .button.close').on("click", function(){
      $('#!{confirmationModal.key}ConfirmationModal').modal('hide');
    });

    !{modalTrigger}
  });