block append style
  link(href='https://fonts.googleapis.com/css?family=Tauri&display=swap' rel='stylesheet' type='text/css')
  link(href='https://fonts.googleapis.com/css?family=Francois+One|Magra:100,400,600' rel='stylesheet' type='text/css')
  link(rel='stylesheet' href='/map/style.css')
  link(rel='stylesheet' href='/map/leaflet/leaflet.css')
  link(rel='stylesheet' href='/map/leaflet/plugins/leaflet-geocoder.css')
  link(rel='stylesheet' href='/map/leaflet/plugins/leaflet-geoman.css')
  link(rel='stylesheet' href='/map/leaflet/plugins/leaflet-easybutton.css')
  link(rel='stylesheet' href='/map/leaflet/plugins/leaflet-contextmenu.css')

  script(src='/javascripts/uuid_v4@latest.js')
  script(src='/map/jquery.geo-1.0.0-rc1.1.min.js')
  script(src='/map/leaflet/leaflet.js')
  script(src='/map/leaflet/plugins/leaflet-contextmenu.js')
  script(src='/map/leaflet/plugins/leaflet-geocoder.js')
  script(src='/map/leaflet/plugins/leaflet-easybutton.js')
  script(src='/map/leaflet/plugins/leaflet-edgescalebar.js')
  script(src='/map/leaflet/plugins/leaflet-textpath.js')
  script(src='/map/leaflet/plugins/leaflet-geoman.min.js')
  script(src='/map/turf.min.js')
  script(src='/map/wellknown.js')
br
h3.ui.dividing.header= mapSettings.title
.ui.left.small.blue.labeled.icon.button(class=mapSettings.function.add.className style="float:right;" data-tooltip="Add "+mapSettings.title)
  i.plus.icon
  | New
br
br
br
.themap(style='width:100%; height:60vh; z-index:1;' id='mapComponent' + mapSettings.key)

#confirm.ui.mini.modal
  .header Confirmation
  .content
    p
      | Are you sure?
  .actions
    .ui.red.cancel.button
      i.remove.icon
      | No
    .ui.green.ok.button
      i.checkmark.icon
      | Yes

block append script
  script.
    // initial map variable
    const mapSettings = !{JSON.stringify(mapSettings)}
    const map = L.map('mapComponent' + mapSettings.key , {
       center: [-1.914744, 120],
       zoom: 5,
       zoomControl: false,
       contextmenu: true,
       contextmenuWidth: 140,
       contextmenuItems: []
    })
    const mapObject = {
      'object' : L.geoJSON().addTo(map)
    }
    const mapFunc = {}

    // list of basemap
    const osmMapnik = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      maxZoom: 19,
      attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    })

    const esriWorldImagery = L.tileLayer(
      'https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}',
      {
        attribution:
          'Tiles &copy; Esri &mdash; Source: Esri, i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community'
      }
    )

    const openTopoMap = L.tileLayer('https://{s}.tile.opentopomap.org/{z}/{x}/{y}.png', {
      maxZoom: 17,
      attribution:
        'Map data: &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, <a href="http://viewfinderpanoramas.org">SRTM</a> | Map style: &copy; <a href="https://opentopomap.org">OpenTopoMap</a> (<a href="https://creativecommons.org/licenses/by-sa/3.0/">CC-BY-SA</a>)'
    })

    const googleStreets = L.tileLayer('https://{s}.google.com/vt/lyrs=m&x={x}&y={y}&z={z}', {
      maxZoom: 20,
      subdomains: ['mt0', 'mt1', 'mt2', 'mt3'],
      attribution: '<a href="https://www.google.com/intl/en_id/help/terms_maps">Google</a>'
    })

    const googleHybrid = L.tileLayer('https://{s}.google.com/vt/lyrs=s,h&x={x}&y={y}&z={z}', {
      maxZoom: 20,
      subdomains: ['mt0', 'mt1', 'mt2', 'mt3'],
      attribution: '<a href="https://www.google.com/intl/en_id/help/terms_maps">Google</a>'
    })

    const googleTerrain = L.tileLayer('https://{s}.google.com/vt/lyrs=p&x={x}&y={y}&z={z}', {
      maxZoom: 20,
      subdomains: ['mt0', 'mt1', 'mt2', 'mt3'],
      attribution: '<a href="https://www.google.com/intl/en_id/help/terms_maps">Google</a>'
    })

    const cartoDBPositron = L.tileLayer('https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}{r}.png', {
      attribution:
        '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors &copy; <a href="https://carto.com/attributions">CARTO</a>',
      subdomains: 'abcd',
      maxZoom: 19
    })

    const wikimedia = L.tileLayer('https://maps.wikimedia.org/osm-intl/{z}/{x}/{y}{r}.png', {
      attribution: '<a href="https://wikimediafoundation.org/wiki/Maps_Terms_of_Use">Wikimedia</a>',
      minZoom: 1,
      maxZoom: 19
    })

    const cartoDBDarkMatter = L.tileLayer('https://{s}.basemaps.cartocdn.com/dark_all/{z}/{x}/{y}{r}.png', {
      attribution:
        '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors &copy; <a href="https://carto.com/attributions">CARTO</a>',
      subdomains: 'abcd',
      maxZoom: 19
    })

    // collect basemap
    const baseMaps = {
      Dark: cartoDBDarkMatter,
      Light: cartoDBPositron,
      'Google Street': googleStreets,
      'Google Hybrid': googleHybrid,
      'Google Terrain': googleTerrain,
      OpenStreetMap: osmMapnik,
      Satellite: esriWorldImagery,
      Topography: openTopoMap,
      Wikimedia: wikimedia
    }
    const baseLayer = {}

    // add layer selection control to the map
    L.control.layers(baseMaps, baseLayer, { position: 'topleft' }).addTo(map)

    // set default map
    googleStreets.addTo(map)

    // add Scale Bar
    L.edgeScaleBar().addTo(map)

    // add draw control
    map.pm.addControls({
      cutPolygon: false, // adds button to cut a hole in a polygon
      deleteLayer: false,
      dragMode: false,
      drawCircle: false, // adds button to draw a cricle
      drawCircleMarker: false,
      drawMarker: true, // adds button to draw markers
      drawPolygon: true, // adds button to draw a polygon
      drawPolyline: false, // adds button to draw a polyline
      drawRectangle: false, // adds button to draw a rectangle
      editMode: false, // adds button to toggle edit mode for all layers
      editPolygon: false,
      position: 'topleft', // toolbar position, options are 'topleft', 'topright', 'bottomleft', 'bottomright'
      removalMode: false, // adds a button to remove layers
      useFontAwesome: false // use fontawesome instead of geomanIcons (you need to include fontawesome yourself)
    })

    // revalidate map size inside component
    setTimeout(function() {
      map.invalidateSize()
    }, 200)

    // GeoJSON Convert function
    mapFunc.generateFeatureCollection = (feature) => {
      feature = {
        type: 'FeatureCollection',
        features: feature
      }
      return feature
    }

    mapFunc.toGeoJSON = (data, properties) => {
      data = $.geo.WKT.parse(data)
      let id = uuidv4()
      data = {
        type: 'Feature',
        id: id,
        properties: properties,
        geometry: data
      }
      return data
    }

    // build GeoJSON
    const getGeoJSON = []
    if(mapSettings.data){
      if(mapSettings.data.length > 0){
        mapSettings.data.forEach((i) => {
          getGeoJSON.push(mapFunc.toGeoJSON(i.coordinate, i.properties))
        })
      }
    }

    // additional function
    mapFunc.getLayer = uid => {
      const path = mapObject[uid].split(':')
      return mapObject[path[0]].getLayer(path[1])
    }

    // enable edit mode
    mapFunc.toggleEditHandler = uid => mapFunc.getLayer(uid).toggleEdit()

    // register object
    mapFunc.registerLayer = layer => {
      mapObject[layer.uid] = `object:${layer._leaflet_id}`
    }

    // delete object
    mapFunc.deregisterLayer = layer => delete mapObject[layer.uid]

    // convert layer to WKT
    mapFunc.toWKT = layer => wellknown.stringify(layer.toGeoJSON())

    // delete object
    mapFunc.confirmDelete = uid => {
      $('#confirm')
        .modal({
          onApprove: function () {
            mapFunc.getLayer(uid).handleDelete()
          }
        })
        .modal('show')
    }
    
    // save object
    mapFunc.confirmSave = (uid) => {
      $('#confirm')
        .modal({
          onApprove: function () {
            mapFunc.getLayer(uid).handleSave()
          }
        })
        .modal('show')
    }
    
    map.on('click', function (e) {
      mapFunc.copyText('POINT(' + e.latlng.lng + ' ' + e.latlng.lat + ')', ' Coordinate')
    })

    // draw marker when clicked
    map.on('pm:create', function (e) {
      e.layer.on('pm:edit', function (_ignored) {})
      e.layer.on('pm:dragend', function (_ignored) {})
      e.layer.bindContextMenu({
        contextmenu: true,
        contextmenuItems: [
          { separator: true },
          {
            text: 'Copy WKT New ' + mapSettings.objectTitle,
            callback: function () {
              mapFunc.copyText(mapFunc.toWKT(e.layer), ' Coordinate')
            }
          }
        ]
      })
      map.addLayer(e.layer)
    })

    // copy coordinate when clicked map
    mapFunc.copyText = (value, info) => {
      const $temp = $('<input>')
      $('body').append($temp)
      $temp.val(value).select()
      document.execCommand('copy')
      $temp.remove()
      if (!info) info = 'Text'
      iziToast.info({
        title: info,
        message: 'copied to clipboard',
        timeout: 2000
      })
      return value
    }

    // search location
    const geoCoder = L.Control.geocoder({
      geocoder: new L.Control.Geocoder.Nominatim(),
      // geocoder: new L.Control.Geocoder.arcgis(),
      // geocoder: new L.Control.Geocoder.google('AIzaSyBgPP-TEQ9RzWqSROWxFz73-2LvrKPhSg0'),
      collapsed: false,
      expand: 'hover',
      defaultMarkGeocode: false,
      placeholder: 'Search places...',
      errorMessage: '',
      showResultIcons: true,
      suggestMinLength: 2,
      suggestTimeout: 50,
      queryMinLength: 2
    })
      .on('markgeocode', function (e) {
        const latlngx = [
          e.geocode.center.lat,
          e.geocode.center.lng
        ]
        L.marker(latlngx).addTo(map)
        map.setView(latlngx, 14)
      })

    geoCoder.setPosition('topright').addTo(map)

    // modified marker leaflet
    L.Marker.include({
      onEdit: false,
      uid: '',
      group: '',
      label : '',
      config: {},
      getPopup: function () {
        let pts = 0
        turf.segmentEach(this.feature, function () {
          pts++
        })
        let content = `
          <div class="infoBox leaflet-control" style="">
            <div class="infoBoxTable">
              <div class="infoBoxRow">
                <div class="infoBoxCell header">
                  <h4 class="title">${this.label}</h4>
                </div>
                <div class="infoBoxCell info">
                  <div class="details sub"></div>
                </div>
              </div>
            </div>
            <div class="label sub"></div>
            <div class="infoBoxTable">
          `
        for (const key of Object.keys(this.feature.properties).sort()) {
          let value = this.feature.properties[key] + ''
          if (value.length > 36) {
            value = value.substring(0, 36) + '...'
          }
          content += `
              <div class="infoBoxRow">
                <div class="infoBoxCell left">${key}</div>
                <div class="infoBoxCell right" style="white-space:nowrap">${value}</div>
              </div>`
        }
        content += `
            </div>
            <div class="infoBoxTable">
              <div class="infoBoxRow">
                <div class="infoBoxCell action">
                  <button onclick='mapFunc.confirmSave("${this.uid}")'
                    class="action button green">SAVE POSITION</button>
                  <button onclick='mapFunc.toggleEditHandler("${this.uid}")'
                    class="action button grey">TOGGLE EDIT</button>
                  <button onclick='mapFunc.confirmDelete("${this.uid}")'
                    class="action button red">DELETE</button>
                </div>
              </div>
          `
        let i = 1
        content += `
            </div>
          </div>
          `
        return content
      },
      setup: function (group) {
        this.uid = uuidv4()
        this.group = group
        this.label = mapSettings.objectTitle
        this.bindPopup(this.getPopup(), { closeButton: false, className: 'infoPopup' })
        mapFunc.registerLayer(this)
      },
      delete: function () {
        mapFunc.deregisterLayer(this)
        mapObject['object'].removeLayer(this)
      },
      toggleEdit: function () {
        this.onEdit = !this.onEdit
        this.pm.toggleEdit()
      },
      handleDelete: function () {
        const that = this
        sendDelete({
          url : mapSettings.function.delete.url,
          data : {
            objectType : mapSettings.objectType,
            geojson : this.toGeoJSON(),
            geom : mapFunc.toWKT(this)
          },
          done: (status, data, responseText, defaultDone) => {
            iziToast.success({
              title : "OK",
              message : "Object Deleted !",
              timeout : 3000
            })
            that.delete()
            location.reload()
          },
          fail: (status, data, responseText, defaultFail) => {

          }
        })
      },
      handleSave : function() {
        const features = this.toGeoJSON()
        sendPut({
          url : mapSettings.function.edit.url,
          data : {
            keyaddinfo : mapSettings.keyAddInfo,
            addinfo : features.properties[mapSettings.keyAddInfo],
            objectType : mapSettings.objectType,
            geojson : features,
            geom : mapFunc.toWKT(this)
          },
          done: (status, data, responseText, defaultDone) => {
            iziToast.success({
              title : "OK",
              message : "Object Updated !",
              timeout : 3000
            })
            location.reload()
          },
          fail: (status, data, responseText, defaultFail) => {

          }
        })
      }
    })

    // add improved polygon leaflet
    L.Polygon.include({
      onEdit: false,
      uid: '',
      label : '',
      group: '',
      config: {},
      getPopup: function () {
        let pts = 0
        turf.segmentEach(this.feature, function () {
          pts++
        })
        let content = `
          <div class="infoBox leaflet-control" style="">
            <div class="infoBoxTable">
              <div class="infoBoxRow">
                <div class="infoBoxCell header">
                  <h4 class="title">${this.label}</h4>
                </div>
                <div class="infoBoxCell info">
                  <div class="details sub"></div>
                </div>
              </div>
            </div>
            <div class="label sub"><i class="map marker alternate icon"></i>${pts} pts&nbsp;&nbsp;<i class="square outline icon"></i> ${(
            turf.area(this.feature) / 1000000
          ).toFixed(3)} km2</div>
            <div class="infoBoxTable">
          `
        for (const key of Object.keys(this.feature.properties).sort()) {
          let value = this.feature.properties[key] + ''
          if (value.length > 36) {
            value = value.substring(0, 36) + '...'
          }
          content += `
              <div class="infoBoxRow">
                <div class="infoBoxCell left">${key}</div>
                <div class="infoBoxCell right" style="white-space:nowrap">${value}</div>
              </div>`
        }

        content += `
            </div>
            <div class="infoBoxTable">
              <div class="infoBoxRow">
                <div class="infoBoxCell action">
                  <button onclick='mapFunc.confirmSave("${this.uid}")'
                    class="action button green">SAVE POSITION</button>
                  <button onclick='mapFunc.toggleEditHandler("${this.uid}")'
                    class="action button grey">TOGGLE EDIT</button>
                  <button onclick='mapFunc.confirmDelete("${this.uid}")'
                    class="action button red">DELETE</button>
                </div>
              </div>
          `
        let i = 1
        //- for (const key in this.config.actions) {
        //-   const act = this.config.actions[key]
        //-   if (key === 'delete') continue

        //-   if (i === 1) {
        //-     content += `
        //-         <div class="infoBoxRow">
        //-           <div class="infoBoxCell action">
        //-       `
        //-   }
        //-   content += `
        //-           <button
        //-             onclick='mapFunc.callHandler("${act.path}", "${act.method}", "${this.uid}")'
        //-             class="${act.color}">${act.label.toUpperCase()}
        //-           </button>
        //-     `
        //-   if (i > 3) {
        //-     content += `
        //-           </div>
        //-         </div >
        //-       `
        //-     i = 1
        //-   } else ++i
        //- }
        content += `
            </div>
          </div>
          `

        return content
      },
      setup: function (group) {
        this.uid = uuidv4()
        this.group = group
        this.label = mapSettings.objectTitle
        this.bindPopup(this.getPopup(), { closeButton: false, className: 'infoPopup' })
        mapFunc.registerLayer(this)
      },
      delete: function () {
        mapFunc.deregisterLayer(this)
        mapLayers[this.group].removeLayer(this)
      },
      toggleEdit: function () {
        this.onEdit = !this.onEdit
        this.pm.toggleEdit()
        this.closePopup()
      },
      handleDelete: function () {
        const that = this
        sendDelete({
          url : mapSettings.function.delete.url,
          data : {
            objectType : mapSettings.objectType,
            geojson : this.toGeoJSON(),
            geom : mapFunc.toWKT(this)
          },
          done: (status, data, responseText, defaultDone) => {
            iziToast.success({
              title : "OK",
              message : "Object Deleted !",
              timeout : 3000
            })
            that.delete()
            location.reload()
          },
          fail: (status, data, responseText, defaultFail) => {

          }
        })
      },
      handleSave : function() {
        const features = this.toGeoJSON()
        sendPut({
          url : mapSettings.function.edit.url,
          data : {
            keyaddinfo : mapSettings.keyAddInfo,
            addinfo : features.properties[mapSettings.keyAddInfo],
            objectType : mapSettings.objectType,
            geojson : features,
            geom : mapFunc.toWKT(this),
          },
          done: (status, data, responseText, defaultDone) => {
            iziToast.success({
              title : "OK",
              message : "Object Updated !",
              timeout : 3000
            })
            location.reload()
          },
          fail: (status, data, responseText, defaultFail) => {

          }
        })
      }
    })

    // render object from GeoJSON Data
    mapFunc.renderObject = params => {
      params.layer.on('layeradd', e => e.layer.setup(params.key))
      params.layer.addData(params.data)
      if (params.fitBound === true) {
        map.fitBounds(params.layer.getBounds())
      }
    }
    console.log(getGeoJSON)
    mapFunc.renderObject({
      data: mapFunc.generateFeatureCollection(getGeoJSON),
      layer: mapObject.object,
      fitBound: true
    })

  
    

  