
br
.ui.top.attached.tabular.menu
  each rowtab in tabSettings.tab
    if(rowtab.active===true)
      a.item.active(data-tab=rowtab.key onclick="getContentTab(" + JSON.stringify(rowtab) + ")")= rowtab.name
    else
      a.item(data-tab=rowtab.key onclick="getContentTab(" + JSON.stringify(rowtab) + ")")= rowtab.name
each rowtab in tabSettings.tab
  if(rowtab.active===true)
    .ui.bottom.attached.tab.segment.active(data-tab=rowtab.key id="content" + rowtab.key)
  else
    .ui.bottom.attached.tab.segment(data-tab=rowtab.key id="content" + rowtab.key)

block append script
  script.
    $('.menu .item').tab()
    function getContentTab(tabSet){
      $(`#content${tabSet.key}`).empty()
      if(tabSet.pathCollection.length > 0){
        tabSet.pathCollection.forEach((i) => {
          $.ajax({
            type: "POST",
            url: "/tab",
            data: {
              tabLocation : i.path,
              value : JSON.stringify(i.data)
            },
            beforeSend: function (jqXHR, settings) {
              iziToast.info({
                message: 'Loading ...',
                timeout: 0
              })
            },
            success: function (data) {
              iziToast.destroy()
              $(`#content${tabSet.key}`).append(data)
              $('.ui.accordion').accordion()
            },
            error: function (xhr, textStatus, err) {
              iziToast.destroy()
              iziToast.error({
                title: xhr.statusText,
                message: xhr.responseText,
                timeout: 4000
              })
            }
          })
        })
      }
    }
