mixin dataTable(__t)
  style.
    .tableActionButton {
      display: inline-block;
    }
    .listTable {
      box-shadow: 5px 20px 80px 0px rgba(0,0,0,0.04) !important;
    }
    .cellNoWrap {
      white-space: nowrap !important;
    }
    .clearable {
      cursor: pointer;
    }
    table.dataTable tbody td {
      vertical-align: top;
    }
  -
    const isMultiColumn = !Array.isArray(__t.columns)

    __t.hasUpdateButton = __t.buttons && __t.buttons.update
    __t.hasDeleteButton = __t.buttons && __t.buttons.delete
    __t.hasDetailsButton = __t.buttons && __t.buttons.details
    __t.hasCheckbox = __t.checkbox && Object.keys(__t.checkbox).length > 0
    __t.hasCustomButton = __t.buttons && __t.buttons.custom && __t.buttons.custom.row
    __t.hasTableCustomButton = __t.buttons && __t.buttons.tableCustom && __t.buttons.tableCustom.length > 0
    __t.hasButton = __t.hasUpdateButton || __t.hasDeleteButton || __t.hasCustomButton
    
    const dtSettings = {
      columnDefs: [],
      columns: [], 
      select: 'single',
      dom:
        '<"ui stackable grid"' +
          '<"row"' +
            '<"eight wide column"' +
            ' <"#' + __t.key + 'TableCustomButtonContainer">>' +
            '<"right aligned eight wide column" <"#' + __t.key + 'TableAdhocSyncButtonContainer"><"#' + __t.key + 'TableGenerateButtonContainer"><"#' + __t.key + 'TableAddButtonContainer">>' +
          '>' +
          '<"row dt-table"' +
            '<"sixteen wide column" t>' +
            '<r>' +
          '>' +
          '<"row"' +
            (__t.key.show && __t.key.show.info === false ? '<"six wide column">' : '<"six wide column" i>') +
            (__t.key.show && __t.key.show.pager === false ? '<"seven wide column">' : '<"seven wide column " <"#' + __t.key + 'TablePager">>') +
            (__t.key.show && __t.key.show.limit === false ? '<"seven wide column">' : '<"right aligned three wide column" l>') +
          '>' +
        '>'
    }

  // set data load
  if Array.isArray(__t.data)
    - dtSettings.data = __t.data
  else if __t.data.cached
    -
      dtSettings.ajax = __t.data.url
      dtSettings.processing = true
  else
    -
      dtSettings.processing = true
      dtSettings.serverSide = true
      dtSettings.ajax = __t.data.url

  // set table title and filter
  if __t.collapse
    .ui.fluid.accordion
      .title.active
        h3= __t.title
          i.dropdown.icon
      .content.active
        p= __t.tooltipTitle
        .ui.divider
        table.ui.selectable.small.compact.celled.table.listTable(id=__t.key + "Table" style={width: '100%'})
          thead
            tr
              if __t.hasDetailsButton
                if isMultiColumn
                  th.collapsing(rowspan = 2)
                else
                  th.collapsing

              if __t.hasCheckbox
                each val in __t.checkbox
                  if isMultiColumn
                    th.collapsing(rowspan = 2, class=`${__t.key}${val.name}Checkbox`, style={cursor:'default'})= val.label
                  else
                    th.collapsing(class=`${__t.key}${val.name}Checkbox`, style={cursor:'default'})= val.label

              // multicolumn group headers
              if isMultiColumn 
                each column, index in __t.columns
                  if column.length === 1
                    th.nowrap(rowspan=2 style={'text-align': 'center', cursor: 'default'})= index
                  else
                    th.nowrap(colspan=column.length style={'text-align': 'center', cursor: 'default'})= index
              else
                each column, index in __t.columns
                  th.nowrap(style={cursor: 'pointer'})= column.label

              // action column
              if __t.hasButton
                if isMultiColumn
                  th.collapsing(rowspan = 2) Actions
                else
                  th.collapsing Actions

            // multicolumn column headers
            if isMultiColumn
              tr
                each columns, index in __t.columns
                  if columns.length > 1
                    each item in columns
                      th.nowrap(style={cursor: 'pointer'})= item.label

          // flatten columns
          if isMultiColumn
            - let _allColumns = []
            each columnData in __t.columns
              each column in columnData
                - _allColumns.push(column)
            - __t.columns = _allColumns

          // filter row
          if __t.filterable
            tfoot
              tr
                if __t.hasDetailsButton
                  th
                if __t.hasCheckbox
                  each val in __t.checkbox
                    th
                each column in __t.columns
                  th
                    if column.filter
                      if column.filter.type === 'search'
                        .ui.search(id=__t.key + column.name + 'FilterField')
                          .ui.fluid.input
                            input.prompt(type='text' name=column.name placeholder='Filter')
                          .results
                      else if column.filter.type === 'boolean'
                        .ui.fitted.toggle.checkbox(style={'z-index': 1000, 'white-space': 'nowrap'})
                          input(id=__t.key + column.name + 'FilterField', class=__t.key + 'FilterFields', name=column.name, type='checkbox')
                          label
                      else if column.filter.value
                        .ui.fluid.input
                          input(id=__t.key + column.name + 'FilterField' class=__t.key + 'FilterFields' name=column.name type='text' placeholder='Filter' value=column.filter.value)
                      else
                        .ui.fluid.input
                          input(id=__t.key + column.name + 'FilterField' class=__t.key + 'FilterFields' name=column.name type='text' placeholder='Filter')
                if __t.hasUpdateButton || __t.hasDeleteButton || __t.hasCustomButton
                  th
    br
    br
    br
  else
    if __t.title
      h3.ui.dividing.header= __t.title
    table.ui.selectable.small.compact.celled.table.listTable(id=__t.key + "Table" style={width: '100%'})
      thead
        tr
          if __t.hasDetailsButton
            if isMultiColumn
              th.collapsing(rowspan = 2)
            else
              th.collapsing

          if __t.hasCheckbox
            each val in __t.checkbox
              if isMultiColumn
                th.collapsing(rowspan = 2, class=`${__t.key}${val.name}Checkbox`, style={cursor:'default'})= val.label
              else
                th.collapsing(class=`${__t.key}${val.name}Checkbox`, style={cursor:'default'})= val.label

          // multicolumn group headers
          if isMultiColumn 
            each column, index in __t.columns
              if column.length === 1
                th.nowrap(rowspan=2 style={'text-align': 'center', cursor: 'default'})= index
              else
                th.nowrap(colspan=column.length style={'text-align': 'center', cursor: 'default'})= index
          else
            each column, index in __t.columns
              th.nowrap(style={cursor: 'pointer'})= column.label

          // action column
          if __t.hasButton
            if isMultiColumn
              th.collapsing(rowspan = 2) Actions
            else
              th.collapsing Actions

        // multicolumn column headers
        if isMultiColumn
          tr
            each columns, index in __t.columns
              if columns.length > 1
                each item in columns
                  th.nowrap(style={cursor: 'pointer'})= item.label

      // flatten columns
      if isMultiColumn
        - let _allColumns = []
        each columnData in __t.columns
          each column in columnData
            - _allColumns.push(column)
        - __t.columns = _allColumns

      // filter row
      if __t.filterable
        tfoot
          tr
            if __t.hasDetailsButton
              th
            if __t.hasCheckbox
              each val in __t.checkbox
                th
            each column in __t.columns
              th
                if column.filter
                  if column.filter.type === 'search'
                    .ui.search(id=__t.key + column.name + 'FilterField')
                      .ui.fluid.input
                        input.prompt(type='text' name=column.name placeholder='Filter')
                      .results
                  else if column.filter.type === 'boolean'
                    .ui.fitted.toggle.checkbox(style={'z-index': 1000, 'white-space': 'nowrap'})
                      input(id=__t.key + column.name + 'FilterField', class=__t.key + 'FilterFields', name=column.name, type='checkbox')
                      label
                  else if column.filter.value
                    .ui.fluid.input
                      input(id=__t.key + column.name + 'FilterField' class=__t.key + 'FilterFields' name=column.name type='text' placeholder='Filter' value=column.filter.value)
                  else
                    .ui.fluid.input
                      input(id=__t.key + column.name + 'FilterField' class=__t.key + 'FilterFields' name=column.name type='text' placeholder='Filter')
            if __t.hasUpdateButton || __t.hasDeleteButton || __t.hasCustomButton
              th

  // set columns
  each item, index in __t.columns
    - 
      dtSettings.columns.push({
        data: item.name,
        name: item.name,
        autoWidth: true,
        className: item.nowrap? 'cellNoWrap' : '',
        defaultContent: '<i>Not set</i>',
        orderable: item.sort = false ? false : true
      })
  
  script.
    {
      let dtSettings = !{JSON.stringify(dtSettings)}
      let tblSettings = !{JSON.stringify(__t)}
      let filterFields = document.getElementsByClassName(`${tblSettings.key}FilterFields`)
      let shiftColumn = 0
      if (tblSettings.hasDetailsButton) shiftColumn++
      if (tblSettings.hasCheckbox) shiftColumn += _.keys(tblSettings.checkbox).length

      dtSettings.drawCallback = function(settings) {
        const api = this.api();
        const pagerInput = document.getElementById(`${tblSettings.key}TablePageInput`);
        if(pagerInput) {
          pagerInput.value = api.page() + 1;
        }
      }

      // add chcekbox
      if (tblSettings.hasCheckbox) {
        _.mapKeys(tblSettings.checkbox, (v, k) => {
          dtSettings.columns.unshift({
            orderable: false,
            data: null,
            className: 'center aligned',
            defaultContent: ''
          })
          let _s = {
            targets: `${tblSettings.key}${v.name}Checkbox`,
            data: null,
            render: function ( data, type, row, meta ) {
              if (type === 'display') {
                let _c = `
                  <div class='ui fitted toggle checkbox' style='z-index: 1000; white-space: nowrap;'>
                    <input id='${tblSettings.key}${v.name}Checkbox__${row.id}' type='checkbox' name='${tblSettings.key}${v.name}Checkbox__${data.id}' setLink='${JSON.stringify(row.links[v.link[0]])}' unsetLink='${JSON.stringify(row.links[v.link[1]])}' ${row[v.state]? "checked='checked'": ''}>
                    <label></label>
                  </div>`
                return _c
              }
            }
          }
          dtSettings.columnDefs.push(_s)
        })
      }

      // add details button
      if(tblSettings.hasDetailsButton) {
        dtSettings.columns.unshift({
          orderable: false,
          data: null,
          defaultContent: `
            <button
              class="ui mini icon button details-control"
              columns='${JSON.stringify(tblSettings.buttons.details.columns)}'>
              <i class="zoom icon"></i>
            </button>`
        })
      }
      
      // enrich data
      _.mapKeys(tblSettings.columns, function(item, index) {
        index = parseInt(index)
        if (item.link) {
          let _s = {
            targets: index + shiftColumn,
            data: item.name,
            render: function ( data, type, row, meta ) {
              return 'Not Set'
            }
          }

          if (item.type === 'toggle') {
            _s.className = 'center aligned'
            _s.render = function ( data, type, row, meta ) {
              switch (type) {
                case 'sort':
                  return data? 1 : 0
                  break
                case 'filter':
                  return data? true : false
                  break
                default:
                  return `
                  <div class='ui fitted toggle checkbox row' style='z-index: 1000; white-space: nowrap;'>
                    <input 
                      id='${item.name}Checkbox__${row.id}' type='checkbox'
                      name='${item.name}Checkbox__${row.id}'
                      setLink='${JSON.stringify(row.links[item.link[0]])}'
                      unsetLink='${JSON.stringify(row.links[item.link[1]])}' ${data ? "checked='checked'": ''}>
                    <label></label>
                  </div>`
              }
            }
          } else {
            _s.render = function ( data, type, row, meta ) {
              if (type === 'display') {
                if (data)
                  return `
                    <a
                      ${tblSettings.data.newTab? 'target="_blank"' : ''}
                      href='${row.links[item.link].url}'>
                      ${data ? data : '<i>Not set</i>'}
                    </a>
                  `
                else
                  return 'Not Set'
              } else {
                return data
              }
            }
          }
          dtSettings.columnDefs.push(_s)
        }

        if (item.type && item.type === 'status') 
          dtSettings.columnDefs.push({
            targets: index + shiftColumn,
            data: item.name,
            className: 'center aligned',
            render: function ( data, type, row, meta ) {
              switch (type) {
                case 'display':
                  let color = ''
                  switch (data) {
                    case 'ACTIVE':
                      color = 'green'
                      break
                    case 'ASSIGNED':
                      color = 'olive'
                      break
                    case 'RESERVED':
                      color = 'orange'
                      break
                    case 'INACTIVE':
                      color = 'red'
                  }
                  return `<div class="ui mini label ${color}">${data? data: 'Not set'}</div>`
                default:
                  return data
              }
            }
          })

        if (item.type && item.type === 'network-role') 
          dtSettings.columnDefs.push({
            targets: index + shiftColumn,
            data: item.name,
            className: 'center aligned',
            render: function ( data, type, row, meta ) {
              switch (type) {
                case 'display':
                  let color = ''
                  switch (data) {
                    case 'AN':
                      color = 'pink'
                      break
                    case 'AP':
                      color = 'purple'
                      break
                    case 'NTE':
                      color = 'violet'
                      break
                    case 'PE':
                      color = 'blue'
                      break
                    case 'ME':
                      color = 'teal'
                      break
                    case 'WAC':
                      color = 'orange'
                      break
                    case 'WAG':
                      color = 'red'
                      break
                  }
                  return `<div class="ui mini label ${color}">${data}</div>`
                default:
                  return data
              }
            }
          })

        if (item.type && item.type === 'date')
          dtSettings.columnDefs.push({
            targets: index + shiftColumn,
            data: item.name,
            render: function ( data, type, row, meta ) {
              if(type === 'sort')
                return data
              else
                return moment(new Date(data)).format('YYYY.MM.DD HH:mm:ss Z').replace(/:\d\d$/, '').replace(/([+-])0(\d)$/, '$1$2')
            }
          })

        if (item.type && item.type === 'boolean')
          dtSettings.columnDefs.push({
            targets: index + shiftColumn,
            data: item.name,
            className: 'center aligned',
            render: function ( data, type, row, meta ) {
              if (type === 'display')
                if (data)
                  return '<i class="green check icon">'
                else
                  return '<i class="red close icon">'
              else
                return data
            }
          })

        if (item.type && item.type === 'relationship')
            dtSettings.columnDefs.push({
              targets: index + shiftColumn,
              data: item.name,
              className: 'center aligned',
              render: function ( data, type, row, meta ) {
                let icon = 'red question'
                if (row.relationship)
                  if (parseInt(row.relationship._startNodeId) === parseInt(row.id))
                    icon = 'blue arrow left'
                  else
                    icon = 'green right arrow'

                if(type === 'display')
                  return `<div class="ui basic label"><i class="${icon} icon"></i>${data? data : 'Not set'}</div>`
                else
                  return data
              }
            })
        
        if (item.clearable) {
            dtSettings.columnDefs.push({
              targets: index + shiftColumn,
              data: item.name,
              className: 'clearable',
              render: function ( data, type, row, meta ) {
                return data
              }
            })
        }
        //- if (item.filter && item.filter.type === "search")
          //- __t.functionScript += '$("#'+ __t.key + item.name + 'FilterField")' +
          //-   '.search({' +
          //-       'minCharacters: 1,' +
          //-       'apiSettings: {' +
          //-           'url: "' + item.filter.url + '",' +
          //-           'onResponse: function (apiResponse) {' +
          //-               'const response = {' +
          //-                   'results: []' +
          //-               '};' +

          //-               '$.each(apiResponse, function (index, item) {' +
          //-                   'response.results.push({' +
          //-                       'title: item,' +
          //-                   '});' +
          //-               '});' +

          //-               'return response;' +
          //-           '},' +
          //-       '},' +
          //-   '});';
      })

      // set update button
      if (tblSettings.hasUpdateButton) {
        let button = tblSettings.buttons.update
        button.className = button.className || `${tblSettings.key}UpdateButton`

        if (button.callback)
          $('body').on(
            'click', 
            '.' + button.className,
            function (event) {
              const data = dtTable.data()[this.getAttribute('row')]
              window[button.callback](this, data)
          })

        tblSettings.renderUpdateButton = (data, type, row, meta) => {

          return `
            <button
              class='ui mini ${button.color ? button.color : 'orange'} icon button ${button.className}'
              data-tooltip='${button.label}'
              link='${button.link}'
              row='${meta.row}'>
              <i class='${button.icon ? button.icon : 'edit'} icon'></i>
            </button>
          `
        }
      }

      // set delete button
      if (tblSettings.hasDeleteButton) {
        let button = tblSettings.buttons.delete
        button.className = button.className || `${tblSettings.key}DeleteButton`

        function callback(event) {
          const data = dtTable.data()[this.getAttribute('row')]
          window[button.callback](this, data)
        }
        function noCallback(event) {
          if (confirm('Are you sure?') === true) {
            const data = dtTable.data()[this.getAttribute('row')]
            const url = data.links[this.getAttribute('link')].url
            sendDelete({ url: url})
          }
        }
        $('body').on(
          'click', 
          '.' + button.className,
          (button.callback ? callback : noCallback)
        )

        tblSettings.renderDeleteButton = (data, type, row, meta) => {
          return `
            <button
              class='ui mini red icon button ${button.className}'
              data-tooltip='${button.label}'
              link='${button.link}'
              row='${meta.row}'>
              <i class='delete icon'></i>
            </button>
          `
        }
      }
      
      // custom buttom with row
      if (tblSettings.hasCustomButton) {
        tblSettings.customButtonElmnt = {}
        _.mapKeys(tblSettings.buttons.custom.row.selection, (selectionSet, setName) => {
          let elementItem = `
            <div class='ui dropdown ${tblSettings.key}Dropdown'>
              <button class='ui tiny button' data-tooltip='Choose action'>Choose</button>
              <div class='menu'>`

          _.forEach(selectionSet, item => {
            elementItem += `
              <div class='item ${tblSettings.key}${item.name}Action' row='{{meta.row}}'>
                <i class='${item.icon} icon'></i>
                ${item.label}
              </div>`
            
            if (item.callback)
              $('body').on(
                'click',
                `.${tblSettings.key}${item.name}Action`,
                function (event) {
                  const data = dtTable.data()[this.getAttribute('row')]
                  window[item.callback](this, data)
                }
              )
          })
          elementItem += '</div></div>'
          tblSettings.customButtonElmnt[setName] = elementItem
        })

        tblSettings.renderCustomButton = (data, type, row, meta) => {
          let selectorValue = data[tblSettings.buttons.custom.row.selector].toString().toLowerCase()
          let customButton = tblSettings.customButtonElmnt[selectorValue] || tblSettings.customButtonElmnt.default
          return customButton.replace(/{{meta.row}}/g, meta.row)
        }
      }

      // render the buttons
      if (tblSettings.hasButton) {
        let renderButtons = (data, type, row, meta) => {
          if (type === 'display') {
            let content = `
              <div style='white-space: nowrap;'>
                ${tblSettings.hasUpdateButton? tblSettings.renderUpdateButton(data, type, row, meta) : ''}
                ${tblSettings.hasDeleteButton? tblSettings.renderDeleteButton(data, type, row, meta) : ''}
                ${tblSettings.hasCustomButton? tblSettings.renderCustomButton(data, type, row, meta) : ''}
              </div>`
            return content
          }
          return null
        }

        let colDefs = {
          targets: tblSettings.columns.length + shiftColumn,
          data: null,
          className: 'center aligned',
          render: renderButtons
        }
        dtSettings.columnDefs.push(colDefs)
      }

      // init dataTable
      let dtTable = $(`#${tblSettings.key}Table`)
      .on('draw.dt', function () {
        $(`.${tblSettings.key}Dropdown`)
          .dropdown({
            action: 'hide'
          })
      })
      .on('preXhr.dt', function (e, settings, data) {
          if(data.columns) {
            for (column of data.columns) {
              const filterCol = filterFields[`${tblSettings.key}${column.name}FilterField`]
              if(filterCol) {
                column.search.value = filterCol.value
              }
            }
          }
      })
      .DataTable(dtSettings)

      dtTable.on('draw.dt', function () {
        dtTable.columns.adjust()
      })

      $(`#${tblSettings.key}Table tbody`).on('click', 'tr td.clearable', function() {
        let cellIndex = dtTable.cell(this).index()
        let clearCallback = tblSettings.columns[cellIndex.column - shiftColumn].clearCallback
        let row = dtTable.cell(this).index().row
        let data = dtTable.row(row).data()
        window[clearCallback](data, $(this))
      })

      // set details button event handler
      if (tblSettings.hasDetailsButton)
        dtTable.on(
          'click',
          '.details-control',
          function () {
            var tr = $(this).closest('tr')
            var row = dtTable.row( tr )
            if ( row.child.isShown() ) {
              row.child.hide()
              tr.removeClass('shown')
            } else {
              row.child(
                window[tblSettings.buttons.details.renderer](
                  row.data(),
                  JSON.parse(this.getAttribute('columns'))
                )
              ).show()
              tr.addClass('shown')
            }
          }
        )

      // table add button
      if (tblSettings.buttons && tblSettings.buttons.add) {
        $(`#${tblSettings.key}TableAddButtonContainer`).html(`
          <button
            id='${tblSettings.key}TableAddButton'
            class='ui tiny left labeled ${tblSettings.buttons.add.color ? tblSettings.buttons.add.color : 'blue'} icon button ${tblSettings.buttons.add.className ? tblSettings.buttons.add.className : ''}'
            data-tooltip='${tblSettings.buttons.add.label}'>
              <i class='${tblSettings.buttons.add.icon ? tblSettings.buttons.add.icon : 'plus'} icon'/>
              ${tblSettings.buttons.add.tag ? tblSettings.buttons.add.tag : 'New'}
          </button>
        `)
        $(`#${tblSettings.key}TableAddButtonContainer`).addClass('tableActionButton')

        if (tblSettings.buttons.add.callback)
          $('body').on(
            'click',
            `#${tblSettings.key}TableAddButton`,
            function (event) {
            const data = dtTable.data()[this.getAttribute('row')]
            window[tblSettings.buttons.add.callback](this, data)
          })
      }

            // table add button
      if (tblSettings.buttons && tblSettings.buttons.generate) {
        $(`#${tblSettings.key}TableGenerateButtonContainer`).html(`
          <button
            id='${tblSettings.key}TableGenerateButton'
            class='ui tiny left labeled ${tblSettings.buttons.generate.color ? tblSettings.buttons.generate.color : 'orange'} icon button ${tblSettings.buttons.generate.className ? tblSettings.buttons.generate.className : ''}'
            data-tooltip='${tblSettings.buttons.generate.label}'>
              <i class='${tblSettings.buttons.generate.icon ? tblSettings.buttons.generate.icon : 'cog'} icon'/>
              ${tblSettings.buttons.generate.tag ? tblSettings.buttons.generate.tag : 'Generate'}
          </button>
        `)
        $(`#${tblSettings.key}TableGenerateButtonContainer`).addClass('tableActionButton')

        if (tblSettings.buttons.generate.callback)
          $('body').on(
            'click',
            `#${tblSettings.key}TableGenerateButton`,
            function (event) {
            const data = dtTable.data()[this.getAttribute('row')]
            window[tblSettings.buttons.generate.callback](this, data)
          })
      }

      // table level custom button
      if (tblSettings.hasTableCustomButton) {
        let tableCustomHTML = ''
        _.each(tblSettings.buttons.tableCustom, button =>{
          let title = button.tag || button.name
          tableCustomHTML += `
            <button
              id='${tblSettings.key}${button.name}TableCustomButton'
              class='ui tiny left labeled ${button.color ? button.color : 'olive'} icon button ${button.className ? button.className : ''}'
              data-tooltip='${button.label}'>
                <i class='${button.icon ? button.icon : 'bolt'} icon'/>
                ${title}
            </button>
          `

        if (button.callback)
          $('body').on(
            'click',
            `#${tblSettings.key}${button.name}TableCustomButton`,
            function (event) {
              window[button.callback](this)
            })
        })
        $(`#${tblSettings.key}TableCustomButtonContainer`).html(tableCustomHTML)
        $(`#${tblSettings.key}TableCustomButtonContainer`).addClass('tableActionButton')
      }

      // table adhoc sync button
      if (tblSettings.buttons && tblSettings.buttons.adhocSync) {
        $(`#${tblSettings.key}TableAdhocSyncButtonContainer`).html(`
          <button
            id='${tblSettings.key}TableAdhocSyncButton'
            class='ui tiny left labeled ${tblSettings.buttons.adhocSync.color ? tblSettings.buttons.adhocSync.color : 'teal'} icon button ${tblSettings.buttons.adhocSync.className ? tblSettings.buttons.adhocSync.className : ''}'
            data-tooltip='${tblSettings.buttons.adhocSync.label}'>
              <i class='${tblSettings.buttons.adhocSync.icon ? tblSettings.buttons.adhocSync.icon : 'sync'} icon'/>
              ${tblSettings.buttons.adhocSync.tag ? tblSettings.buttons.adhocSync.tag : 'Sync'}
          </button>
        `)
        $(`#${tblSettings.key}TableAdhocSyncButtonContainer`).addClass('tableActionButton')

        if (tblSettings.buttons.adhocSync.link)
          $('body').on(
            'click',
            `#${tblSettings.key}TableAdhocSyncButton`,
            function (event) {
              $.ajax({
                url: tblSettings.buttons.adhocSync.link.url,
                method: tblSettings.buttons.adhocSync.link.method,
                data: tblSettings.buttons.adhocSync.link.data,
                success: function (data, textStatus, jqXHR) {
                  addSuccessNotification(
                    'SYNC REQUEST SUBMITED',
                    `[${tblSettings.key} - ${jqXHR.responseText}]`
                  )
                },
                error: function (jqXHR, textStatus, error) {
                  addFailNotification(
                    'SYNC REQUEST ERROR',
                    `[${jqXHR.status}] ${jqXHR.statusText}: ${jqXHR.responseText}`
                  )
                }
              })
          })
      }

      // filter action
      if (tblSettings.filterable)
        dtTable.columns().every(function() {
          var that = this
          if (!Array.isArray(tblSettings.data) && !tblSettings.data.cached)
            $("input", this.footer()).on("change", function (e) {
              dtTable.draw()
            })
          else {
            $("input[type='text']", this.footer()).on("keyup", function (e) {
              if(that.search() !== this.value) 
                that.search(this.value).draw()
            })
            $("input[type='checkbox']", this.footer()).on("change", function (e) {
              let val = $(e.target).parent().checkbox('is checked')? true : false
              if(that.search() !== val && val === true) 
                that.search(val).draw()
              else {
                that.search('').draw()
              }
            })
          }
        })

      // navigation button
      $(`#${tblSettings.key}TablePager`).addClass('ui mini form').html(`
        <div class='fields'>
          <div class='field'>
            <button class='ui tiny left labeled icon button' id='${tblSettings.key}TablePrevButton' data-tooltip='Previous Set'><i class='left arrow icon'></i>Prev</button>
          </div>
          <div id='${tblSettings.key}TablePage' class='three wide field'>
            <input id='${tblSettings.key}TablePageInput' type='number' value='1'>
          </div>
          <div class='field'>
            <button class='ui tiny right labeled icon button' id='${tblSettings.key}TableNextButton' data-tooltip='Next Set'><i class='right arrow icon'></i>Next</button>
          </div>
        </div>
      `)
      $(`#${tblSettings.key}TableNextButton`).on('click', function () {
        dtTable.page('next').draw(false)
      })
      $(`#${tblSettings.key}TablePageInput`).on('change', function () {
        dtTable.page(parseInt(this.value-1)).draw(false)
      })
      $(`#${tblSettings.key}TablePrevButton`).on('click', function () {
        dtTable.page('previous').draw(false)
      })

      // error handling
      $.fn.dataTable.ext.errMode = function (e, settings, techNote, message ) {
        if(e.jqXHR) {
          addFailNotification('[ Error when trying to load data ] ', e.jqXHR.responseText);
        }
      }
    }

    $(document).ready(function () {
      // checkbox toggle event handler
      $('.ui.toggle.checkbox.row').checkbox({
        beforeChecked: function() {
          $(this).parent().checkbox('set disabled')
        },
        beforeUnchecked: function() {
          $(this).parent().checkbox('set disabled')
        },
        onChecked: function() {
          let link = JSON.parse($(this).attr('setLink'))
          let el = $(this)
          $.ajax({
            url: link.url,
            method: link.method,
            success: function (data, textStatus, jqXHR) {
              addSuccessNotification(
                'SET SYNC SUCCESS',
                `[${data._labels} - ${data.name}]`
              )
              el.parent().checkbox('set enabled')
            },
            error: function (jqXHR, textStatus, error) {
              addFailNotification(
                'SET SYNC ERROR',
                `[${jqXHR.status}] ${jqXHR.statusText}: ${jqXHR.responseText}`
              )
            }
          })
        },
        onUnchecked: function() {
          let link = JSON.parse($(this).attr('unsetLink'))
          let el = $(this)
          $.ajax({
            url: link.url,
            method: link.method,
            success: function (data, textStatus, jqXHR) {
              addSuccessNotification(
                'UNSET SYNC SUCCESS',
                `[${data._labels} - ${data.name}]`
              )
              el.parent().checkbox('set enabled')
            },
            error: function (jqXHR, textStatus, error) {
              addFailNotification(
                'UNSET SYNC ERROR',
                `[${jqXHR.status}] ${jqXHR.statusText}: ${jqXHR.responseText}`
              )
            }
          })
        }
      })
    })
if tableSettings.collapse

else
  div
+dataTable(tableSettings)
